/*============== Section Heading ============*/
span {
  display: inline-block;
}
.full-screen {
  height: 100vh !important;
}

.fix {
  overflow: hidden !important;
}

.privacy-wrapper {
  background: hsl(var(--white));
  padding: 35px 45px;
  border-radius: 8px;
  border: 1px solid hsl(var(--black)/0.07);
  @include msm-screen {
    padding: 35px 15px;
  }
}

.section-heading {
  margin-bottom: 50px;
  position: relative; 
  @include xxsm-screen {
    margin-bottom: 30px;
  }
  .des {
    width: 37%;
    margin-left: auto;
    margin-right: auto;
    @include xl-screen {
      width: 50%;
    }
    @include md-screen {
      width: 60%;
    }
    @include sm-screen {
      width: 80%;
    }
    @include msm-screen {
      width: 90%;
    }
  }
  .subtitle-big {
    font-size: 100px;
    color: transparent;
    -webkit-text-stroke: 1px hsl(var(--black) / 0.1);
    position: absolute;
    top: -50px;
    left: 2px;
    z-index: -1;
    font-weight: 600;
    letter-spacing: -2px;
    @include sm-screen {
      font-size: 80px;
      top: -35px;
    }
    @include sm-screen {
      font-size: 65px;
      top: -32px;
    }
  }
  .subtitle {
    font-size: 16px;
    font-weight: 700;
    color: hsl(var(--black));
    background: hsl(var(--base));
    padding: 1px 16px;
    border-radius: 3px;
    display: inline-block;
    margin-bottom: 10px;
    text-transform: uppercase;
    @include msm-screen {
        font-size: 16px;
    }
  }
  &.text-center .subtitle-big {
    right: 0;
  }
  .title-one {
    margin-bottom: 5px;
}
}


.section-title-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    i {
      color: hsl(var(--black)/.5);
      font-size: 20px;
      cursor: pointer;
    }
}

.section-title-two {
  text-align: center;
  margin-bottom: 40px;
}

.title-one {
  font-size: 45px;
  font-weight: 700;
  line-height: 1.4;
  color: hsl(var(--black));
  text-transform: capitalize;
  transition: all .3s; 
  margin: 0;
  @include md-screen {
    font-size: 40px;
  }
  @include msm-screen {
    font-size: 32px;
  }
}
.title-two {
  font-size: 22px !important;
  font-weight: 700;
  line-height: 1.3;
  color: hsl(var(--black));
  text-transform: capitalize;
  transition: all .3s;
}
.title-three {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.3;
  color: hsl(var(--black));
  text-transform: capitalize;
  transition: all .3s;
}

.section-bg {
  background: hsl(var(--base)/.02);
}

//================= Slick Arrow & Dots css Start ================
.slick-initialized.slick-slider {
  margin: 0 -10px;
  .slick-track {
      display: flex;
  }
  .slick-slide {
      height: auto;
      padding: 0 12px;
      > div {
          height: 100%;
      }
  }
}

// .slick-arrow {
//   position: absolute;
//   z-index: 1;
//   top: 50%;
//   transform: translateY(-50%);
//   border: none;
//   color: hsl(var(--white));;
//   width: 60px;
//   height: 60px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   border-radius: 50%;
//   transition: .2s linear; 
//   background-color: hsl(var(--base));
//   color: hsl(var(--white));;
//   font-size: 20px;
//   transition: all .3s;
//   @include md-screen {
//     width: 50px;
//     height: 50px;
//     font-size: 16px;
//   }
//   @include msm-screen {
//     width: 45px;
//     height: 45px;
//   }
//    &:hover {
//     border-color: hsl(var(--base));
//     background-color: hsl(var(--base-two));
//   }
// }
// .slick-next {
//   right: -20px;
//   @include md-screen {
//     right: -10px;
//   }
//   @include msm-screen {
//     right: 10px;
//   }
// }
// .slick-prev {
//   left: inherit;
//   @include md-screen {
//     left: inherit;
//   }
//   @include msm-screen {
//     left: inherit;
//   }
// }

// -------------- Style two ------------
.slick-arrow {
  position: absolute;
  z-index: 1;
  border: none;
  background-color: transparent;
  color: hsl(var(--white));;
  width: 50px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transition: .4s;
  background-color:  hsl(var(--dark));
  color: hsl(var(--white));
  top: -67px;
  transition: all .3s;
  @include lg-screen {
    top: -69px;
  }
  @include sm-screen {
    top: auto; 
    bottom: -50px;
    right: 50%;
  }
}
.slick-arrow:hover {
  background-color: hsl(var(--dark));
  color: hsl(var(--white));;
}
.slick-next {
  right: 10px;
  background-color:  hsl(var(--base));
  @include sm-screen {
    top: auto; 
    right: calc(50% + -37px);

  } 
}
.slick-prev {
  right: 65px;
  @include sm-screen {
    top: auto; 
    right: calc(50% - -5px);
  }
}

//  Dots
.slick-dots {
    text-align: center;
    padding-top: 20px;
    transition: all .4s;
    @include xxsm-screen {
      margin-top: 0;
    }
    li {
        display: inline-block;
        button {
          border: none;
          background-color: hsl(var(--base)/0.2);
          color: hsl(var(--base)/0.7);
          margin: 0 7px;
          width: 15px;
          height: 6px;
          text-indent: -9999px;
          border-radius: 30px;
          transition: all .3s;
        }
        &.slick-active button {
            background-color: hsl(var(--base));
            width: 25px;
        }
    }
}
//================= Slick Arrow & Dots css Start ================


/*================= Text Underline Hover ================*/
.text-hover a {
  background-image: linear-gradient(to right, hsl(var(--base)) 0%, hsl(var(--base)) 100%);
  background-position: 0 calc(100% - 0.02em);
  background-size: 0 2px;
  transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
  padding: 0;
  display: inline;
  background-repeat: no-repeat;
  box-sizing: border-box;
}
.text-hover a:hover {
  background-size: 100% 2px;
}