.checkout-area {
    .checkout-left {
        background: hsl(var(--white));
        padding: 37px 30px;
        border-radius: 8px;
        border: 1px solid hsl(var(--black)/0.07);
        @include sm-screen {
            padding: 18px 16px;
        }
        &__single-item {
            border-bottom: 1px solid hsl(var(--black)/0.06);
            padding-bottom: 30px;
            &:last-child {
                border: 0;
                padding: 0;
                margin: 0;
            }
        }
        @include md-screen {
            margin-bottom: 30px;
        }
        .single-item-top  {
            .icon {
                background: hsl(var(--base)/.1);
                color: hsl(var(--base)/.9);
                font-size: 25px;
                padding: 7px 17px;
                height: 52px;
                border-radius: 8px;
            }
            @include xsm-screen {
                display: block !important;
            }
        }
        .single-item-bottom {
            span {
                @include xsm-screen {
                    display: block;
                }
                &:first-child {
                    @include xsm-screen {
                        margin-bottom: 3px;
                    }
                }
            }
           .title-two {
               position: relative;
                span {
                    font-size: 14px;
                    @include xsm-screen {
                        display: inline-block;
                    }
                }
                &::after {
                    content: "";
                    width: 1px;
                    height: 17px;
                    background: hsl(var(--black)/.4);
                    position: absolute;
                    right: -12px;
                    top: 5px;
                    @include xsm-screen {
                        display: none;
                    }
                }
                &:last-child::after {
                    display: none;
                }
           }
        }
        .change-btn {
            cursor: pointer;
            color: hsl(var(--black)/.6);
            @include sm-screen {
                width: 17%;
            }
            @include msm-screen {
                width: 24%;
            }
            span {
                @include msm-screen {
                    font-size: 14px;
                }
                @include xsm-screen {
                    font-size: 15px;
                    margin-bottom: 10px;
                }
            }
        }
    }
    .checkout-right {
        background: hsl(var(--white));
        padding: 20px 25px;
        border-radius: 8px;
        border: 1px solid hsl(var(--black)/.07);
        position: sticky;
        top: 100px;
        .title-one {
            font-size: 20px;
            font-weight: 500;
        }
        .order-summary {
            .single {
                display: flex;
                justify-content: space-between;
                margin-bottom: 5px;
                > * {
                    color: hsl(var(--black)/.7);
                    font-weight: 400;
                    @include xsm-screen {
                        font-size: 14px !important;
                    }
                }
            }
            & > * {
                margin-bottom: 20px;
                border-bottom: 1px solid hsl(var(--black)/.1);
                &:last-child {
                    border: 0;
                }
            }
        }
    }
}