/* forum card start*/
.forum-card {
    background: hsl(var(--white) / 0.32);
    border: 1px solid hsl(var(--white) / 0.32);
    border-radius: 6px;
    margin-bottom: 15px;
    &:last-child {
        margin-bottom: 140px;
    }
}


/* forum card top start*/
.forum-card__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;    
    padding: 30px;
    padding-bottom: 0;
    &-left {
        display: flex;
        align-items: center;
        .thumb {
            height: 38px;
            width: 38px;
            border-radius: 100%;
            margin-right: 15px;
            border: 1px solid hsl(var(--white) / .5);
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 100%;
            }
        }
        .content  {
            .title {
                font-size: 18px;
                margin-bottom: 0;  
            }
            .times {
                font-size: 14px;
                display: flex;
                align-items: center;
                .icon {
                    color: hsl(var(--black)/0.7);
                    font-size: 14px;
                    margin-right: 5px;
                }
            }
        }
    }
    &-right {
        display: flex;
        align-items: baseline;
        position: relative;
        .item {
            margin-right: 15px;
            cursor: pointer;
        }
        .dropdown-icon {
            height: 35px;
            width: 35px;
            line-height: 36px;
            text-align: center;
            border-radius: 50%;
            background: hsl(var(--white) / 0.3);
            color: hsl(var(--black) / .6);
            cursor: pointer;
            transition: all .3s;
            &:hover {
                background: hsl(var(--base));
                color: hsl(var(--white));
            }
        }
    }
}
/* forum card top end*/

.forum-card__body {
    padding: 0 30px;
    .title {
        font-size: 18px;
    }
}

/* forum card bottom start*/
.forum-card {
    &__bottom {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        border-top:  0px solid hsl(var(--black) / 0.07);
        margin-top: 20px;   
        padding: 15px;
        padding-right: 30px;
        .bottom-left ul {
            display: flex;
            align-items: center;
            .up-vote {
                padding: 0;
                height: 30px;
                width: 30px;
                line-height: 30px;
                text-align: center;
                background: hsl(var(--white)/.4);
                border-radius: 50%;
                transition: all .4s;
                cursor: pointer;
                &:hover {
                    background-color: hsl(var(--base));
                    i {
                        color: hsl(var(--white));
                    }
                }
                i {
                    font-size: 14px;
                    transition: all .4s;
                    color: hsl(var(--black)/.7);
                }
            }
            li {
                padding: 12px;
                color: hsl(var(--black)/.8);
                line-height: 1;
                transition: all .3s;
                &:hover  a span {
                    color: hsl(var(--base));
                }
                &.vot-count {
                    cursor: inherit;
                    h6 {
                        color: hsl(var(--black) / .8);
                        margin-bottom: 0;
                    }
                }
                i {
                    font-size: 18px;
                    color: hsl(var(--base));
                }
                a {
                    color: hsl(var(--black) / .8);
                    span {
                        margin-left: 2px;
                        color: hsl(var(--black));
                    }
                }
            }
        }

        .bottom-right {
            display: flex;
            align-items: center;
            position: relative;
            &.show {
                display: block;
                opacity: 1;
            }
            ul {
                display: flex;
                align-items: center;
                gap: 11px;
                li {
                    color: hsl(var(--black)/0.7);    
                    cursor: pointer;
                    margin-left: 20px;
                    position: relative;
                    &:after {
                        content: "";
                        position: absolute;
                        right: -15px;
                        width: 1px;
                        height: 13px;
                        background: hsl(var(--black) / 0.1);
                        top: 6px;
                    }
                    &:first-child {
                        margin-left: 0;
                    }
                    &:nth-child(3):after {
                        display: none;
                    }
                    &:hover {
                        color: hsl(var(--base));
                        a {
                            color: hsl(var(--base));
                        }
                    }
                    a {
                        color: hsl(var(--black)/0.7);
                    }
                    i {
                        margin-right: 3px;
                        font-size: 14px;
                    }
                }
            }
        }

    }
}

.tags-wrap {
    display: flex;
    margin-right: 15px;
    .tags {
        margin-left: 10px;
        padding: 3px 13px;
        border-radius: 5px;
        color: hsl(var(--black) / .7);
        background: hsl(var(--white) / .3);
        border: 1px solid hsl(var(--white) / .3);
        i {
            margin-right: 3px;
            color: hsl(var(--base));
            font-size: 14px;
        }
    }
}


/* forum card bottom end*/

/* forum card dropdown top menu start*/
.right-dropdown-menu {
    width: 200px;
    border: 1px solid hsl(var(--black) / 0.07);
    // padding: 15px;
    position: absolute;
    right: 42px;
    top: 0px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background: hsl(var(--white));
    background-image: linear-gradient(173deg, hsl(42.5deg 41.38% 88.63%) 10%, hsl(var(--base) / .13) 100%);
    border-radius: 4px;
    opacity: 0;
    display: none;
    &.show {
        display: block;
        opacity: 1;
        z-index: 99;
    }
    &__item {
        border-bottom: 1px solid hsl(var(--black) / .07);
        font-size: 15px;
        padding: 12px 15px;
        transition: all .4s;
        &:last-child {
            border-bottom: 0;
        }
        &:hover {
            background-color: hsl(var(--base)/.05);
        }
        .menu-item {
            display: flex;
            align-items: center;
            width: 100%;
            gap: 12px;
            cursor: pointer;
            transition: all .4s;
            &:hover {
                color: hsl(var(--base));
            }
            i {
                color: hsl(var(--base));
            }
        }
    }
}
/* forum card dropdown top menu end*/

/* forum card dropdown bottom social menu start*/
.social-dropdown-menu {
    width: 200px;
    border: 1px solid hsl(var(--black) / 0.07);
    position: absolute;
    right: 0px;
    top: 37px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background: hsl(var(--white));
    background-image: linear-gradient(173deg, hsl(42.5deg 41.38% 88.63%) 10%, hsl(var(--base) / .13) 100%);
    border-radius: 4px;
    opacity: 0;
    display: none;
    &.show {
        display: block;
        opacity: 1;
        z-index: 99;
    }
    &__item {
        border-bottom: 1px solid hsl(var(--black) / .07);
        font-size: 15px;
        padding: 12px 15px;
        transition: all .4s;
        &:last-child {
            border-bottom: 0;
        }
        &:hover {
            background-color: hsl(var(--base)/.05);
        }
        .menu-item {
            display: flex;
            align-items: center;
            width: 100%;
            gap: 12px;
            cursor: pointer;
            transition: all .4s;
            &:hover {
                color: hsl(var(--base));
            }
            i {
                color: hsl(var(--base));
            }
        }
    }
}
/* forum card dropdown bottom social menu end*/

/*privacy css */
.forum-sidebar-privacy {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    &__item {
        position: relative;
        margin-left: 18px; 
        &:before {
            position: absolute;
            left: -18px;
            top: 8px;
            height: 8px;
            width: 8px;
            background: hsl(var(--base));
            content: "";
            border-radius: 50%;
        }
    }
}
.bottom-footer-tex {
    border-top: 1px solid hsl(var(--black)/0.07);
    padding-top: 15px;
    margin-top: 15px;
    margin-bottom: 20px;
}
/* forum card end*/

/*================= forum card details start =================*/
.border-bottom {
    border-bottom: 1px solid hsl(var(--black)/0.07) !important;
}
.comment-dropdown-wrap {
    position: relative;
}
/* comment dropdown top menu start*/
.comment-dropdown-menu {
    width: 200px;
    border: 1px solid hsl(var(--black) / 0.07);
    padding: 15px;
    position: absolute;
    left: -200px;
    top: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background: hsl(var(--white));
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    display: none;
    &.show {
        display: block;
        opacity: 1;
        z-index: 99;
    }
    &__item {
        border-bottom: 1px solid hsl(var(--black) / .07);
        padding-bottom: 10px;
        margin-bottom: 10px;
        font-size: 15px;
        &:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom: 0;
        }
        .menu-item {
            display: flex;
            align-items: center;
            width: 100%;
            gap: 12px;
            cursor: pointer;
            transition: all .4s;
            &:hover {
                color: hsl(var(--base));
            }
            i {
                color: hsl(var(--base));
            }
        }
    }
}
/* comment dropdown top menu end*/
/*================= forum card details end =================*/

