/*=================== Overlay Search Box Start =======================*/

.search-box {
    &.show-search-bar {
        .toggle-search {
            width: 200px;
            opacity: 1;
            visibility: visible;
            @include xsm-screen {
                width: 145px;
            }
        }
    }
    i {
        transition: .3s all;
        &:hover {
            color: hsl(var(--base));
        }
    }
    .toggle-search {
        border: 1px solid hsl(var(--black)/.06);
        padding: 9px 17px;
        border-radius: 4px;
        width: 0;
        opacity: 0;
        visibility: hidden;
        transition: .4s linear;
        &::placeholder {
            color: hsl(var(--black)/.6);
        }
    }
}

// =================== Overlay Search Box End =====================================
