<!--============ about Start ============-->
<div class="about-section py-120">
    <img class="about-shape-right animate-x-axis" src="assets/images/about/about-shape-right.png" alt="image">
    <div  class="container">
        <div class="row gy-4 flex-wrap-reverse align-items-md-center">
            <div class="col-xl-6 col-lg-6">
                <div class="about-item-thumb">
                    <div class="about-border"></div>
                    <div class="about-border-right"></div>
                    <div class="about-item-thumb__inner">                       
                        <img class="about-right-img animate-y-axis" src="assets/images/about/about-img-1.png" alt="image">
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="about-item-right-content">
                    <div class="section-heading mb-0">
                        <div class="top-wrap mb-3">
                            <h3 class="subtitle-big">About</h3>
                            <p class="subtitle"> About Us</p>
                            <h2 class="title-one">Help is Our Main Goal.</h2>
                        </div>
                        <p class="mb-4">Welcome to our crowdfunding platform, your gateway to transformative fundraising solutions. With our intuitive platform and comprehensive features, supporting projects has never been simpler. Monitor campaigns in real-time, ensuring confidence throughout the journey.</p>
                        <div class="about-item-middle ">
                            <div class="about-item-middle__item">
                                <div class="icon">
                                    <i class="fa-solid fa-circle-check"></i>
                                </div>
                                <div class="content">
                                    <h4 class="title-three">Medical Relief Campaign</h4>
                                </div>
                            </div>
                            <div class="about-item-middle__item">
                                <div class="icon">
                                    <i class="fa-solid fa-circle-check"></i>
                                </div>
                                <div class="content">
                                    <h4 class="title-three">Healing Touch Foundation</h4>
                                </div>
                            </div>
                            <div class="about-item-middle__item">
                                <div class="icon">
                                    <i class="fa-solid fa-circle-check"></i>
                                </div>
                                <div class="content">
                                    <h4 class="title-three">Child Welfare Initiative</h4>
                                </div>
                            </div>
                            <div class="about-item-middle__item">
                                <div class="icon">
                                    <i class="fa-solid fa-circle-check"></i>
                                </div>
                                <div class="content">
                                    <h4 class="title-three">Food for Life Movement</h4>
                                </div>
                            </div>
                            <div class="about-item-middle__item">
                                <div class="icon">
                                    <i class="fa-solid fa-circle-check"></i>
                                </div>
                                <div class="content">
                                    <h4 class="title-three">Medical Aid Mission</h4>
                                </div>
                            </div>
                            <div class="about-item-middle__item">
                                <div class="icon">
                                    <i class="fa-solid fa-circle-check"></i>
                                </div>
                                <div class="content">
                                    <h4 class="title-three">Feeding Hope Project</h4>
                                </div>
                            </div>
                        </div>
                        <div class="about-bottom">
                            <a href="about.html" class="btn btn--base">
                                About More <i class="fas fa-angle-double-right"></i>
                                <span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--============ about End ============-->