<!--============ Banner Section Start ============-->
<!-- bg-img -->
<section class="banner-section section-bg bg-img" style="background-image: url(assets/images/banner/banner-bg.png);">
    <div class="banner-shape-trangle top-up-down"></div>
    <div class="banner-shape-hours-wrap">
        <div class="banner-shape-hours"></div>
    </div>
    <img class="banner-shape-star" src="assets/images/banner/banner-shape-star.png" alt="img">
    <img class="ban-shape-bg animate-y -axis" src="assets/images/banner/ban-shape-bg-1.png" alt="img">
    <div class="banner-right-bottom animate-rotate">
        <div class="dot-wrap">
            <div class="slider-dot one"></div>
            <div class="slider-dot two"></div>
            <div class="slider-dot three"></div>
            <div class="slider-dot four"></div>
        </div>
    </div>

    <div class="container">
        <div class="row gy-4 align-items-center justify-content-center">
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12">
                <div class="banner-left__content">
                    <span class="subtitle">crowdfunding platform</span>
                    <h2>HopeRaiser Igniting Dreams One Donation at a Time.</h2>
                    <p>Our crowdfunding platform offers swift, trustworthy, and secure funding for your ambitious projects, dreams, and innovative ideas.</p>
                    <div class="video-button-wrap d-flex align-items-center">
                        <a href="campaigns.html" class="btn btn--base">
                            Donate Now <i class="fas fa-angle-double-right"></i>
                            <span></span>
                        </a>
                        <div class="popup-vide-wrap ms-3">
                            <div class="video-main">
                                <div class="promo-video">
                                    <div class="waves-block">
                                        <div class="waves wave-1"></div>
                                        <div class="waves wave-2"></div>
                                        <div class="waves wave-3"></div>
                                    </div> 
                                </div>
                            </div>
                            <a href="https://www.youtube.com/watch?v=zXmfuC93P_c" class="video-button popup_video">
                                <i class="fas fa-play text-white"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12">
                <div class="banner-right__thumb">
                    <div class="main-img">
                        <img class="animate-y-axis-slider" src="assets/images/banner/banner-img-right-1.png" alt="">
                    </div>

                    <div class="banner-right-round-shape-wrap animate-rotate">
                        <div class="round-thumb">
                            <span class="round-shape one"></span>
                            <span class="round-shape two"></span>
                            <span class="round-shape three"></span>
                            <span class="round-shape four"></span>
                            <img class="banner-right-round-shape" src="assets/images/banner/banner-right-round-shape.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--============ Banner Section End ============-->