<!--========================== Banner Three Section Start ==========================-->
    <section class="banner-section banner-three bg-img" id="js-scene" style="background-image: url('assets/images/banner/banner-three.png');">
    <div class="banner-three__shapes">
        <img src="assets/images/banner/banner-shape-1.png" alt="shape" class="shape-1 animate-zoom-fade">
        <img src="assets/images/banner/banner-shape-2.png" alt="shape" class="shape-2">
        <img src="assets/images/banner/banner-shape-3.png" alt="shape" class="shape-3 star-rotate-animation">
        <img src="assets/images/banner/banner-shape-3.png" alt="shape" class="shape-4 star-rotate-animation">
    </div>
    <div class="banner-three__float-img"> 
        <img src="assets/images/banner/banner-three-1.png" alt="shape" class="float-img-1 animate-y-axis">
        <img src="assets/images/banner/banner-three-2.png" alt="shape" class="float-img-2 animate-x-axis">
        <img src="assets/images/banner/banner-three-3.png" alt="shape" class="float-img-3 animate-y-axis">
        <img src="assets/images/banner/banner-three-4.png" alt="shape" class="float-img-4 animate-y-axis">
    </div>
    <div class="container">
        <div class="row gy-4 align-items-center text-center justify-content-center">
            <div class="col-lg-8 col-md-12">
                <div class="banner-left__content">
                    <span>Premium Service 24/7</span>
                    <h2>We Provide High Quality 
                        Professional Services</h2>
                        <div class="search-services d-flex justify-content-between align-items-center w-75 m-auto mb-4">
                            <div class="place d-flex justify-content-between align-items-center">
                                <i class="fas fa-map-marker-alt me-1 text-black"></i>
                                <select class="select">
                                    <option value="1" selected>Gulshan</option>
                                    <option value="2">Uttara</option>gulp watch
                                    <option value="4">Tongi</option>
                                    <option value="5">Gazipur</option>
                                </select>
                            </div>
                            <div class="search-keyword">
                                <form action="#">
                                    <input type="search" placeholder="Find your services here e.g AC, Car, Facial...">
                                    <button type="submit" class="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    <div class="featured-categories">
                        <h5>Or browse featured categories:</h5>
                        <div class="categories">
                            <span>ac Repair</span>
                            <span>Cleaning</span>
                            <span>Car Repair</span>
                            <span>Plumbing</span>
                            <span>Plumbing</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--========================== Banner Three Section End ==========================-->


<!-- ========================= Categories Three Section Start ========================= -->

<section class="services-categories-three pt-80 section-grey-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <div class="section-title-two">
                    <span class="subtitle">All Services</span>
                    <h2 class="title-one fw-semibold">Our services category</h2>
                </div>
            </div>
        </div>
        <div class="categories-three-slider-active">
            <div class="single-service-category">
                <div class="category-img">
                    <img src="assets/images/service-category/1.png" alt="img">
                </div>
                <div class="icon service-slider__img">
                    <img src="assets/images/banner/service-1.png" alt="img">
                </div>
                <div class="title-and-service-link d-flex justify-content-between px-4 pb-4">
                    <div class="service-name-count">
                        <h4 class="service-slider__title title-three mb-1">
                            AC Repair
                        </h4>
                        <span class="service-slider__count">
                            378
                        </span>
                    </div>
                    <a href="services.html" class="link-arrow"><i class="fas fa-chevron-right"></i></a>
                </div>
            </div>
            <div class="single-service-category">
                <div class="category-img">
                    <img src="assets/images/service-category/2.png" alt="img">
                </div>
                <div class="icon service-slider__img">
                    <img src="assets/images/banner/service-2.png" alt="img">
                </div>
                <div class="title-and-service-link d-flex justify-content-between px-4 pb-4">
                    <div class="service-name-count">
                        <h4 class="service-slider__title title-three mb-1">
                            Cleaning
                        </h4>
                        <span class="service-slider__count">
                            378
                        </span>
                    </div>
                    <a href="services.html" class="link-arrow"><i class="fas fa-chevron-right"></i></a>
                </div>
            </div>
            <div class="single-service-category">
                <div class="category-img">
                    <img src="assets/images/service-category/3.png" alt="img">
                </div>
                <div class="icon service-slider__img">
                    <img src="assets/images/banner/service-3.png" alt="img">
                </div>
                <div class="title-and-service-link d-flex justify-content-between px-4 pb-4">
                    <div class="service-name-count">
                        <h4 class="service-slider__title title-three mb-1">
                            Water
                        </h4>
                        <span class="service-slider__count">
                            378
                        </span>
                    </div>
                    <a href="services.html" class="link-arrow"><i class="fas fa-chevron-right"></i></a>
                </div>
            </div>
            <div class="single-service-category">
                <div class="category-img">
                    <img src="assets/images/service-category/4.png" alt="img">
                </div>
                <div class="icon service-slider__img">
                    <img src="assets/images/banner/service-4.png" alt="img">
                </div>
                <div class="title-and-service-link d-flex justify-content-between px-4 pb-4">
                    <div class="service-name-count">
                        <h4 class="service-slider__title title-three mb-1">
                            Furniture
                        </h4>
                        <span class="service-slider__count">
                            378
                        </span>
                    </div>
                    <a href="services.html" class="link-arrow"><i class="fas fa-chevron-right"></i></a>
                </div>
            </div>
            <div class="single-service-category">
                <div class="category-img">
                    <img src="assets/images/service-category/5.png" alt="img">
                </div>
                <div class="icon service-slider__img">
                    <img src="assets/images/banner/service-5.png" alt="img">
                </div>
                <div class="title-and-service-link d-flex justify-content-between px-4 pb-4">
                    <div class="service-name-count">
                        <h4 class="service-slider__title title-three mb-1">
                            Electric
                        </h4>
                        <span class="service-slider__count">
                            378
                        </span>
                    </div>
                    <a href="services.html" class="link-arrow"><i class="fas fa-chevron-right"></i></a>
                </div>
            </div>
            <div class="single-service-category">
                <div class="category-img">
                    <img src="assets/images/service-category/6.png" alt="img">
                </div>
                <div class="icon service-slider__img">
                    <img src="assets/images/banner/service-6.png" alt="img">
                </div>
                <div class="title-and-service-link d-flex justify-content-between px-4 pb-4">
                    <div class="service-name-count">
                        <h4 class="service-slider__title title-three mb-1">
                            Light Services
                        </h4>
                        <span class="service-slider__count">
                            378
                        </span>
                    </div>
                    <a href="services.html" class="link-arrow"><i class="fas fa-chevron-right"></i></a>
                </div>
            </div>
            <div class="single-service-category">
                <div class="category-img">
                    <img src="assets/images/service-category/7.png" alt="img">
                </div>
                <div class="icon service-slider__img">
                    <img src="assets/images/banner/service-7.png" alt="img">
                </div>
                <div class="title-and-service-link d-flex justify-content-between px-4 pb-4">
                    <div class="service-name-count">
                        <h4 class="service-slider__title title-three mb-1">
                            Mans Care
                        </h4>
                        <span class="service-slider__count">
                            378
                        </span>
                    </div>
                    <a href="services.html" class="link-arrow"><i class="fas fa-chevron-right"></i></a>
                </div>
            </div>
            <div class="single-service-category">
                <div class="category-img">
                    <img src="assets/images/service-category/8.png" alt="img">
                </div>
                <div class="icon service-slider__img">
                    <img src="assets/images/banner/service-8.png" alt="img">
                </div>
                <div class="title-and-service-link d-flex justify-content-between px-4 pb-4">
                    <div class="service-name-count">
                        <h4 class="service-slider__title title-three mb-1">
                            Car Services
                        </h4>
                        <span class="service-slider__count">
                            378
                        </span>
                    </div>
                    <a href="services.html" class="link-arrow"><i class="fas fa-chevron-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ========================= Categories Three Section End ========================= -->
