<!--========================== Banner Two Section Start ==========================-->
<section class="banner-section banner-two bg-img" id="js-scene" style="background-image: url('assets/images/banner/banner-two.png');">
    <div class="container">
        <div class="row gy-4 align-items-center text-center justify-content-center">
            <div class="col-lg-8 col-md-12">
                <div class="banner-left__content">
                    <span class="text-white title-two fw-semibold mb-3">Premium Service 24/7</span>
                    <h2 class="text-white banner-two__heading mb-4">We Offer Comprehensive Professional Services</h2>
                    <p class="text-white m-auto mb-4">
                        Amet minim mollit non deserunt ullamco est sit aliqua
                        dolor do Velit officia consequat
                    </p>
                    <div class="search-services d-flex justify-content-center align-items-center">
                        <div class="place d-flex justify-content-between align-items-center">
                            <i class="fas fa-map-marker-alt me-1"></i>
                            <select class="select">
                                <option value="1" selected>Gulshan</option>
                                <option value="2">Uttara</option>
                                <option value="4">Tongi</option>
                                <option value="5">Gazipur</option>
                            </select>
                        </div>
                        <div class="search-keyword">
                            <form action="#">
                                <input type="search" placeholder="Find your services here e.g AC, Car, Facial...">
                                <button type="submit" class="submit">
                                    <i class="fas fa-search"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="featured-categories d-flex justify-content-between flex-wrap align-items-center">
                        <h5 class="category-title text-white mb-3">Or browse featured categories:</h5>
                        <div class="categories mb-3">
                            <span>ac Repair</span>
                            <span>Cleaning</span>
                            <span>Car Repair</span>
                            <span>Plumbing</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--========================== Banner Two Section End ==========================-->

<!-- ========================= Categories Two Section Start ========================= -->

<section class="services-categories-two pt-60 section-grey-bg">
    <div class="container">
        <div class="row">
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 justify-content-center">
                <a href="services.html" class="services-categories-two__single">
                    <div class="service-slider__img">
                        <img src="assets/images/banner/service-1.png" alt="img">
                    </div>
                    <div class="service-name-count">
                        <h4 class="service-slider__title title-three mb-1">
                            AC Repair
                        </h4>
                        <span class="service-slider__count">
                            378
                        </span>
                    </div>
                </a>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <a href="services.html" class="services-categories-two__single">
                    <div class="service-slider__img">
                        <img src="assets/images/banner/service-2.png" alt="img">
                    </div>
                    <div class="service-name-count">
                        <h4 class="service-slider__title title-three mb-1">
                            Cleaning
                        </h4>
                        <span class="service-slider__count">
                            378
                        </span>
                    </div>
                </a>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <a href="services.html" class="services-categories-two__single">
                    <div class="service-slider__img">
                        <img src="assets/images/banner/service-3.png" alt="img">
                    </div>
                    <div class="service-name-count">
                        <h4 class="service-slider__title title-three mb-1">
                            Water
                        </h4>
                        <span class="service-slider__count">
                            378
                        </span>
                    </div>
                </a>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <a href="services.html" class="services-categories-two__single">
                    <div class="service-slider__img">
                        <img src="assets/images/banner/service-4.png" alt="img">
                    </div>
                    <div class="service-name-count">
                        <h4 class="service-slider__title title-three mb-1">
                            Furniture
                        </h4>
                        <span class="service-slider__count">
                            378
                        </span>
                    </div>
                </a>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <a href="services.html" class="services-categories-two__single">
                    <div class="service-slider__img">
                        <img src="assets/images/banner/service-5.png" alt="img">
                    </div>
                    <div class="service-name-count">
                        <h4 class="service-slider__title title-three mb-1">
                            Electric
                        </h4>
                        <span class="service-slider__count">
                            378
                        </span>
                    </div>
                </a>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <a href="services.html" class="services-categories-two__single">
                    <div class="service-slider__img">
                        <img src="assets/images/banner/service-6.png" alt="img">
                    </div>
                    <div class="service-name-count">
                        <h4 class="service-slider__title title-three mb-1">
                            Light Services
                        </h4>
                        <span class="service-slider__count">
                            378
                        </span>
                    </div>
                </a>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <a href="services.html" class="services-categories-two__single">
                    <div class="service-slider__img">
                        <img src="assets/images/banner/service-7.png" alt="img">
                    </div>
                    <div class="service-name-count">
                        <h4 class="service-slider__title title-three mb-1">
                            Mans Care
                        </h4>
                        <span class="service-slider__count">
                            378
                        </span>
                    </div>
                </a>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <a href="services.html" class="services-categories-two__single">
                    <div class="service-slider__img">
                        <img src="assets/images/banner/service-8.png" alt="img">
                    </div>
                    <div class="service-name-count">
                        <h4 class="service-slider__title title-three mb-1">
                            Car Services
                        </h4>
                        <span class="service-slider__count">
                            378
                        </span>
                    </div>
                </a>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <a href="services.html" class="services-categories-two__single">
                    <div class="service-slider__img">
                        <img src="assets/images/banner/service-9.png" alt="img">
                    </div>
                    <div class="service-name-count">
                        <h4 class="service-slider__title title-three mb-1">
                            Beauty Care
                        </h4>
                        <span class="service-slider__count">
                            378
                        </span>
                    </div>
                </a>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <a href="services.html" class="services-categories-two__single">
                    <div class="service-slider__img">
                        <img src="assets/images/banner/service-10.png" alt="img">
                    </div>
                    <div class="service-name-count">
                        <h4 class="service-slider__title title-three mb-1">
                            Plumbing
                        </h4>
                        <span class="service-slider__count">
                            378
                        </span>
                    </div>
                </a>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <a href="services.html" class="services-categories-two__single">
                    <div class="service-slider__img">
                        <img src="assets/images/banner/service-11.png" alt="img">
                    </div>
                    <div class="service-name-count">
                        <h4 class="service-slider__title title-three mb-1">
                            Painting
                        </h4>
                        <span class="service-slider__count">
                            378
                        </span>
                    </div>
                </a>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <a href="services.html" class="services-categories-two__single">
                    <div class="service-slider__img">
                        <img src="assets/images/banner/service-12.png" alt="img">
                    </div>
                    <div class="service-name-count">
                        <h4 class="service-slider__title title-three mb-1">
                            Snow Remove
                        </h4>
                        <span class="service-slider__count">
                            378
                        </span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- ========================= Categories Two Section End ========================= -->



