<!-- ============================= Blog Details Sidebar Start ======================== -->
<div class="blog-sidebar-wrapper">
    <div class="blog-sidebar">
        <h5 class="blog-sidebar__title"> Popular Topics</h5>
        <div class="latest-blog">
            <div class="latest-blog__thumb">
                <a href="blog-details.html"> <img src="assets/images/blog/blog-1.png" alt=""></a>
            </div>
            <div class="latest-blog__content">
                <h6 class="latest-blog__title"><a href="blog-details.html">Sound Everyday Rutine For Your Lorem ipsum dolor sit amet.</a></h6>
                <span class="latest-blog__date">02 May 2024</span>
            </div>
        </div>
        <div class="latest-blog">
            <div class="latest-blog__thumb">
                <a href="blog-details.html"> <img src="assets/images/blog/blog-2.png" alt=""></a>
            </div>
            <div class="latest-blog__content">
                <h6 class="latest-blog__title"><a href="blog-details.html">Lorem ipsum dolor sit amet.</a></h6>
                <span class="latest-blog__date">02 May 2024</span>
            </div>
        </div>
        <div class="latest-blog">
            <div class="latest-blog__thumb">
                <a href="blog-details.html"> <img src="assets/images/blog/blog-3.png" alt=""></a>
            </div>
            <div class="latest-blog__content">
                <h6 class="latest-blog__title"><a href="blog-details.html">Lorem ipsum dolor sit amet.</a></h6>
                <span class="latest-blog__date">02 May 2024</span>
            </div>
        </div>
        <div class="latest-blog">
            <div class="latest-blog__thumb">
                <a href="blog-details.html"> <img src="assets/images/blog/blog-4.png" alt=""></a>
            </div>
            <div class="latest-blog__content">
                <h6 class="latest-blog__title"><a href="blog-details.html">Lorem ipsum dolor sit amet.</a></h6>
                <span class="latest-blog__date">02 May 2024</span>
            </div>
        </div>
        <div class="latest-blog">
            <div class="latest-blog__thumb">
                <a href="blog-details.html"> <img src="assets/images/blog/blog-5.png" alt=""></a>
            </div>
            <div class="latest-blog__content">
                <h6 class="latest-blog__title"><a href="blog-details.html">Lorem ipsum dolor sit amet.</a></h6>
                <span class="latest-blog__date">02 May 2024</span>
            </div>
        </div>
    </div>
</div>
<!-- ============================= Blog Details Sidebar End ======================== -->
