<!-- ========== Blog Start Here ========== -->
<section class="blog section-bg py-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="section-heading text-center">
                    <h3 class="subtitle-big">Stories</h3>
                    <span class="subtitle">Success Stories</span>
                     <h2 class="title-one">Our Success Stories</h2>
                     <p class="desc">Welcome to our crowdfunding platform, your gateway to transformative fundraising. With our intuitive interface and features, supporting projects has never been easier</p>
                 </div>
            </div>
        </div>
        <div class="row gy-4 justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="blog-item">
                    <div class="blog-item__thumb">
                        <a href="blog-details.html" class="blog-item__thumb-link">
                            <img src="assets/images/blog/blog-4.png" alt="">
                        </a>
                    </div>
                    <div class="blog-item__content">
                        <ul class="text-list inline">
                            <li class="text-list__item"> <span class="text-list__item-icon"><i class="fas fa-user"></i></span> Admin</li>
                            <li class="text-list__item"> <span class="text-list__item-icon"><i class="fas fa-calendar-alt"></i></span> 06 Jun 2024</li>
                        </ul>
                        <h4 class="title-two"><a href="blog-details.html" class="title-two-link">Color match perfectly to impress your customers</a></h4>
                        <p class="mb-2">Welcome to our courier website, your gateway to seamless shipping solutions.</p>
                        <a href="blog-details.html" class="btn--simple">Read More <span class="btn--simple__icon"><i class="fas fa-arrow-right"></i></span> </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-item">
                    <div class="blog-item__thumb">
                        <a href="blog-details.html" class="blog-item__thumb-link">
                            <img src="assets/images/blog/blog-2.png" alt="">
                        </a>
                    </div>
                    <div class="blog-item__content">
                        <ul class="text-list inline">
                            <li class="text-list__item"> <span class="text-list__item-icon"><i class="fas fa-user"></i></span> Admin</li>
                            <li class="text-list__item"> <span class="text-list__item-icon"><i class="fas fa-calendar-alt"></i></span> 06 Jun 2024</li>
                        </ul>
                        <h4 class="title-two"><a href="blog-details.html" class="title-two-link">Color match perfectly to impress your customers</a></h4>
                        <p class="mb-2">Welcome to our courier website, your gateway to seamless shipping solutions.</p>
                        <a href="blog-details.html" class="btn--simple">Read More <span class="btn--simple__icon"><i class="fas fa-arrow-right"></i></span> </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-item">
                    <div class="blog-item__thumb">
                        <a href="blog-details.html" class="blog-item__thumb-link">
                            <img src="assets/images/blog/blog-3.png" alt="">
                        </a>
                    </div>
                    <div class="blog-item__content">
                        <ul class="text-list inline">
                            <li class="text-list__item"> <span class="text-list__item-icon"><i class="fas fa-user"></i></span> Admin</li>
                            <li class="text-list__item"> <span class="text-list__item-icon"><i class="fas fa-calendar-alt"></i></span> 03 Jun 2024</li>
                        </ul>
                        <h4 class="title-two"><a href="blog-details.html" class="title-two-link">How To Change The Background Color Of A Picture</a></h4>
                        <p class="mb-2">Welcome to our courier website, your gateway to seamless shipping solutions.</p>
                        <a href="blog-details.html" class="btn--simple">Read More <span class="btn--simple__icon"><i class="fas fa-arrow-right"></i></span> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========== Blog End Here ========== -->