<!--========== Coverage Section Start ==========-->
<div class="client">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
              <div class="brand-wrapper">
                <div class="client-logos client-slider-active">
                  <div class="client-logo-item">
                    <img src="assets/images/brands/brand-1.png" alt="">
                  </div>
                  <div class="client-logo-item">
                    <img src="assets/images/brands/brand-2.png" alt="">
                  </div>
                  <div class="client-logo-item">
                    <img src="assets/images/brands/brand-1.png" alt="">
                  </div>
                  <div class="client-logo-item">
                    <img src="assets/images/brands/brand-2.png" alt="">
                  </div>
                  <div class="client-logo-item">
                    <img src="assets/images/brands/brand-1.png" alt="">
                  </div>
                  <div class="client-logo-item">
                    <img src="assets/images/brands/brand-2.png" alt="">
                  </div>
                  <div class="client-logo-item">
                    <img src="assets/images/brands/brand-1.png" alt="">
                  </div>
                  <div class="client-logo-item">
                    <img src="assets/images/brands/brand-2.png" alt="">
                  </div>
                  <div class="client-logo-item">
                    <img src="assets/images/brands/brand-1.png" alt="">
                  </div>
               </div>
              </div>
            </div>
        </div>
    </div>
</div>
<!--========== Coverage Section End ==========-->