<!--============ Campaign Start =============-->
<section class="campaign-area section-bg py-120">
    <img class="campaign-bg animate-x-axis" src="assets/images/campaign/campaign-bg.png" alt="img">
    <div class="container-fluid">
        <div class="row justify-content-center text-center">
            <div class="col-lg-6">
                <div class="section-heading text-center">
                    <h3 class="subtitle-big">Campaigns</h3>
                    <span class="subtitle">Our Latest Campaigns</span>
                     <h2 class="title-one">Our Campaign Category</h2>
                     <p class="desc">Welcome to our crowdfunding platform, your gateway to transformative fundraising. With our intuitive interface and features, supporting projects has never been easier.</p>
                 </div>
            </div>
        </div>
        <div class="row campaign-slider-active justify-content-center">
            <div class="col-xl-3  col-lg-4 col-md-6">
                <div class="campaign-box">
                    <a class="link" href="campaign-details.html"></a>
                    <div class="campaign-box__thumb">
                        <img src="assets/images/campaign/campaign-1.jpg" alt="img">
                    </div>
                    <div class="campaign-box__bottom">
                        <img class="campaign-shape-bg " src="assets/images/campaign/campaign-shape-bg-1.png" alt="img">
                        <div class="campaign-box__skill-bar">
                            <div class="progressbar" data-perc="50%">
                                <div class="bar" style="width: 50%;"></div>
                                <span class="label" style="left: 50%;">100%</span>
                            </div>
                            <ul class="progress-tag">
                                <li class="raised">Raised: <span>$5,345</span></li>
                                <li class="raised">Goal: <span>$70,000</span></li>
                            </ul> 
                        </div>
                        <div class="campaign-box__tag-wrap">
                            <div class="tag"><i class="fa-solid fa-tags"></i> Education</div>
                            <div class="date"><i class="fa-solid fa-calendar-days"></i> 150 Days left</div>
                        </div>
                        
                        <div class="campaign-box__content">
                            <h4 class="title-two"> Empower Dreams Fund Your Future Success Today !</h4>
                            <p>crowdfunding platform, your gateway to transformative fundraising...</p>
                        </div>
                    </div>
                </div>    
            </div>
            <div class="col-xl-3  col-lg-4 col-md-6">
                <div class="campaign-box">
                    <a class="link" href="campaign-details.html"></a>
                    <div class="campaign-box__thumb">
                        <img src="assets/images/campaign/campaign-2.jpg" alt="img">
                    </div>
                    <div class="campaign-box__bottom">
                        <img class="campaign-shape-bg " src="assets/images/campaign/campaign-shape-bg-1.png" alt="img">
                        <div class="campaign-box__skill-bar">
                            <div class="progressbar" data-perc="50%">
                                <div class="bar" style="width: 50%;"></div>
                                <span class="label" style="left: 50%;">100%</span>
                            </div>
                            <ul class="progress-tag">
                                <li class="raised">Raised: <span>$5,345</span></li>
                                <li class="raised">Goal: <span>$70,000</span></li>
                            </ul> 
                        </div>
                        <div class="campaign-box__tag-wrap">
                            <div class="tag"><i class="fa-solid fa-tags"></i> Medical</div>
                            <div class="date"><i class="fa-solid fa-calendar-days"></i> 150 Days left</div>
                        </div>
                        
                        <div class="campaign-box__content">
                            <h4 class="title-two">Support Innovation Fuel Ideas, Shape Tomorrow's World !</h4>
                            <p>crowdfunding platform, your gateway to transformative fundraising...</p>
                        </div>
                    </div>
                </div>    
            </div>
            <div class="col-xl-3  col-lg-4 col-md-6">
                <div class="campaign-box">
                    <a class="link" href="campaign-details.html"></a>
                    <div class="campaign-box__thumb">
                        <img src="assets/images/campaign/campaign-3.jpg" alt="img">
                    </div>
                    <div class="campaign-box__bottom">
                        <img class="campaign-shape-bg " src="assets/images/campaign/campaign-shape-bg-1.png" alt="img">
                        <div class="campaign-box__skill-bar">
                            <div class="progressbar" data-perc="50%">
                                <div class="bar" style="width: 50%;"></div>
                                <span class="label" style="left: 50%;">100%</span>
                            </div>
                            <ul class="progress-tag">
                                <li class="raised">Raised: <span>$5,345</span></li>
                                <li class="raised">Goal: <span>$70,000</span></li>
                            </ul> 
                        </div>
                        <div class="campaign-box__tag-wrap">
                            <div class="tag"><i class="fa-solid fa-tags"></i> Treatment</div>
                            <div class="date"><i class="fa-solid fa-calendar-days"></i> 150 Days left</div>
                        </div>
                        
                        <div class="campaign-box__content">
                            <h4 class="title-two">Back Ambition Make Change Happen, Join Us Now !</h4>
                            <p>crowdfunding platform, your gateway to transformative fundraising...</p>
                        </div>
                    </div>
                </div>    
            </div>
            <div class="col-xl-3  col-lg-4 col-md-6">
                <div class="campaign-box">
                    <a class="link" href="campaign-details.html"></a>
                    <div class="campaign-box__thumb">
                        <img src="assets/images/campaign/campaign-4.jpg" alt="img">
                    </div>
                    <div class="campaign-box__bottom">
                        <img class="campaign-shape-bg " src="assets/images/campaign/campaign-shape-bg-1.png" alt="img">
                        <div class="campaign-box__skill-bar">
                            <div class="progressbar" data-perc="50%">
                                <div class="bar" style="width: 50%;"></div>
                                <span class="label" style="left: 50%;">100%</span>
                            </div>
                            <ul class="progress-tag">
                                <li class="raised">Raised: <span>$5,345</span></li>
                                <li class="raised">Goal: <span>$70,000</span></li>
                            </ul> 
                        </div>
                        <div class="campaign-box__tag-wrap">
                            <div class="tag"><i class="fa-solid fa-tags"></i> Technology</div>
                            <div class="date"><i class="fa-solid fa-calendar-days"></i> 150 Days left</div>
                        </div>
                        
                        <div class="campaign-box__content">
                            <h4 class="title-two">Invest in Impact: Drive Progress, Change Lives Together !</h4>
                            <p>crowdfunding platform, your gateway to transformative fundraising...</p>
                        </div>
                    </div>
                </div>    
            </div>
            <div class="col-xl-3  col-lg-4 col-md-6">
                <div class="campaign-box">
                    <a class="link" href="campaign-details.html"></a>
                    <div class="campaign-box__thumb">
                        <img src="assets/images/campaign/campaign-5.jpg" alt="img">
                    </div>
                    <div class="campaign-box__bottom">
                        <img class="campaign-shape-bg " src="assets/images/campaign/campaign-shape-bg-1.png" alt="img">
                        <div class="campaign-box__skill-bar">
                            <div class="progressbar" data-perc="50%">
                                <div class="bar" style="width: 50%;"></div>
                                <span class="label" style="left: 50%;">100%</span>
                            </div>
                            <ul class="progress-tag">
                                <li class="raised">Raised: <span>$5,345</span></li>
                                <li class="raised">Goal: <span>$70,000</span></li>
                            </ul> 
                        </div>
                        <div class="campaign-box__tag-wrap">
                            <div class="tag"><i class="fa-solid fa-tags"></i> Funding</div>
                            <div class="date"><i class="fa-solid fa-calendar-days"></i> 150 Days left</div>
                        </div>
                        
                        <div class="campaign-box__content">
                            <h4 class="title-two">Champion Change: Support Causes, Empower Communities !</h4>
                            <p>crowdfunding platform, your gateway to transformative fundraising...</p>
                        </div>
                    </div>
                </div>    
            </div>
            <div class="col-xl-3  col-lg-4 col-md-6">
                <div class="campaign-box">
                    <a class="link" href="campaign-details.html"></a>
                    <div class="campaign-box__thumb">
                        <img src="assets/images/campaign/campaign-6.jpg" alt="img">
                    </div>
                    <div class="campaign-box__bottom">
                        <img class="campaign-shape-bg " src="assets/images/campaign/campaign-shape-bg-1.png" alt="img">
                        <div class="campaign-box__skill-bar">
                            <div class="progressbar" data-perc="50%">
                                <div class="bar" style="width: 50%;"></div>
                                <span class="label" style="left: 50%;">100%</span>
                            </div>
                            <ul class="progress-tag">
                                <li class="raised">Raised: <span>$5,345</span></li>
                                <li class="raised">Goal: <span>$70,000</span></li>
                            </ul> 
                        </div>
                        <div class="campaign-box__tag-wrap">
                            <div class="tag"><i class="fa-solid fa-tags"></i> Charity</div>
                            <div class="date"><i class="fa-solid fa-calendar-days"></i> 150 Days left</div>
                        </div>
                        
                        <div class="campaign-box__content">
                            <h4 class="title-two">Enable Hope: Fund Projects, Build Brighter Futures !</h4>
                            <p>crowdfunding platform, your gateway to transformative fundraising...</p>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </div>
</section>
<!--============ Campaign End ============-->