<!--============ Category Start =============-->
<section class="category-area section-bg py-120 fix">
    <img class="category-bg animate-x-axis" src="assets/images/category/category-bg.png" alt="img">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="section-heading text-center">
                    <h3 class="subtitle-big">Category</h3>
                    <span class="subtitle">Category</span>
                     <h2 class="title-one">Our Campaign Category</h2>
                     <p class="desc">Welcome to our crowdfunding platform, your gateway to transformative fundraising. With our intuitive interface and features, supporting projects has never been easier</p>
                 </div>
            </div>
        </div>
        <div class="row category-slider-active justify-content-center">
            <div class="col-lg-2 col-md-6">
                <div class="category-box text-center">
                    <a class="link" href="campaign.html"></a>
                    <span class="category-box__count">01</span>
                    <div class="category-box__thumb">
                        <img src="assets/images/category/category-01.png" alt="img">
                    </div>
                    <div class="category-box__content">
                        <h4 class="title-two">Raising Food</h4>
                    </div>
                </div>    
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="category-box text-center">
                    <a class="link" href="campaign.html"></a>
                    <span class="category-box__count">02</span>
                    <div class="category-box__thumb">
                        <img src="assets/images/category/category-02.png" alt="img">
                    </div>
                    <div class="category-box__content">
                        <h4 class="title-two">Kids Education</h4>
                    </div>
                </div>    
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="category-box text-center">
                    <a class="link" href="campaign.html"></a>
                    <span class="category-box__count">03</span>
                    <div class="category-box__thumb">
                        <img src="assets/images/category/category-03.png" alt="img">
                    </div>
                    <div class="category-box__content">
                        <h4 class="title-two">Medical Health</h4>
                    </div>
                </div>    
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="category-box text-center">
                    <a class="link" href="campaign.html"></a>
                    <span class="category-box__count">04</span>
                    <div class="category-box__thumb">
                        <img src="assets/images/category/category-04.png" alt="img">
                    </div>
                    <div class="category-box__content">
                        <h4 class="title-two">Technology</h4>
                    </div>
                </div>    
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="category-box text-center">
                    <a class="link" href="campaign.html"></a>
                    <span class="category-box__count">05</span>
                    <div class="category-box__thumb">
                        <img src="assets/images/category/category-05.png" alt="img">
                    </div>
                    <div class="category-box__content">
                        <h4 class="title-two">Feeding Hope</h4>
                    </div>
                </div>    
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="category-box text-center">
                    <a class="link" href="campaign.html"></a>
                    <span class="category-box__count">06</span>
                    <div class="category-box__thumb">
                        <img src="assets/images/category/category-06.png" alt="img">
                    </div>
                    <div class="category-box__content">
                        <h4 class="title-two">Healing Touch</h4>
                    </div>
                </div>    
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="category-box text-center">
                    <a class="link" href="campaign.html"></a>
                    <span class="category-box__count">07</span>
                    <div class="category-box__thumb">
                        <img src="assets/images/category/category-07.png" alt="img">
                    </div>
                    <div class="category-box__content">
                        <h4 class="title-two">Treatment</h4>
                    </div>
                </div>    
            </div>
        </div>
    </div>
</section>
<!--============ Category End ============-->