<!-- ============ Counter Start Here ============ -->
<section class="counter-area section-bg py-120 bg-img" style="background-image: url(assets/images/counter/counter-bg.png);">
    <div class="container">
        <div class="row gy-4 justify-content-center">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="counter">
                    <div class="counter__icon">
                        <i class="fa-solid fa-users"></i>
                        <h3><span class="odometer" data-count="25">00</span><span class="letter">+</span></h3>
                    </div>
                    <div class="counter__content">
                        <h3 class="title">Satisfied Client</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="counter">
                    <div class="counter__icon">
                        <i class="fa-solid fa-earth-americas"></i>
                        <h3><span class="odometer" data-count="2765">00</span><span class="letter">+</span></h3>
                    </div>
                    <div class="counter__content">
                        <h3 class="title">Available Countries</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="counter">
                    <div class="counter__icon">
                        <i class="fa-solid fa-user-clock"></i>
                        <h3><span class="odometer" data-count="125">00</span><span class="letter">+</span></h3>
                    </div>
                    <div class="counter__content">
                        <h3 class="title">Total Staffs</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="counter">
                    <div class="counter__icon">
                        <i class="fa-solid fa-user-plus"></i>
                        <h3><span class="odometer" data-count="75">00</span><span class="letter">+</span></h3>
                    </div>
                    <div class="counter__content">
                        <h3 class="title">Total Member</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =========== Counter End Here =========== -->