<!-- ========== Cta Start Here ========== -->
<section class="cta-area position-relative py-120 bg-img bg-overlay" style="background-image: url(assets/images/cta/cta-bg.jpg);">
    <div class="container">
        <div class="row gy-4 justify-content-center">
            <div class="col-lg-9">
                <div class="cta-wrapper text-center white">
                    <div class="section-heading mb-4 text-center">
                        <h3 class="subtitle-big">Donate</h3>
                        <span class="subtitle">Donate Now</span>
                        <h2 class="title-one">Lend a Hand to the Right Cause Together, Empower Positive Change Today.</h2>
                    </div>

                    <a href="campaigns.html" class="btn btn--base mb-2">
                        Donate Now <i class="fas fa-angle-double-right"></i>
                        <span></span>
                    </a>
                    <a href="about.html" class="btn btn--base outline ms-3 text-white mb-2">
                        Explore more <i class="fas fa-angle-double-right"></i>
                        <span></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========== Cta End Here ========== -->