<!-- ==================== Download App Here ==================== -->

<section class="download-app py-80 bg-img fix" style="background: url('assets/images/download-app/bg.png');">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-5 offset-lg-1 col-md-4">
                <div class="download-app__img">
                    <img src="assets/images/download-app/phone.png" alt="img">
                    <div class="shapes">
                        <img src="assets/images/download-app/google-play-shape.png" class="play-store animate-x-axis" alt="">
                        <img src="assets/images/download-app/app-store-shape.png" class="app-store animate-y-axis-slider" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1 col-md-7 offset-md-1">
                <div class="section-title-two">
                    <span class="subtitle">
                        Download our App
                    </span>
                    <h2 class="title-one">App is available for free on Google Play & App Store</h2>
                    <p class="mb-30">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. ofconsequat popular during Renaissance. The first line of Lorem Ipsum, orem ipsum t uses  dictionary</p>
                    <div class="app-play-store">
                        <a href="#" class="store-btn me-3">
                            <img src="assets/images/download-app/play-store.png" alt="img">
                            <div class="btn-content">
                                <span>GET IT NO</span>
                                <h3 class="title-three">Google Play</h3>
                            </div>
                        </a>
                        <a href="#" class="store-btn">
                            <img src="assets/images/download-app/app-store.png" alt="img">
                            <div class="btn-content">
                                <span>Download On the</span> 
                                <h3 class="title-three">App Store</h3>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ==================== Download App Here ==================== -->
