

<!-- ======== Footer Start Here ======== -->
<footer class="footer-area bg-img bg-overlay pt-100" style="background-image: url(assets/images/footer/footer-bg.jpg);">
    <img class="section-bg-img" src="assets/images/footer/logo.png" alt="">
    <div class="container">
        <div class="row gy-4">
            <div class="col-xl-3 col-sm-6">
                <div class="footer-item">
                    <div class="footer-item__logo">
                        <a href="index.html" class="footer-logo-normal" id="footer-logo-normal"> <img src="assets/images/logo/logo.png" alt=""></a>
                    </div>
                    
                    <ul class="footer-contact-menu">
                        <li class="footer-contact-menu__item"> 
                            <div class="footer-contact-menu__item-icon">
                                <i class="fas fa-envelope"></i>
                            </div>
                            <div class="footer-contact-menu__item-content">
                                <h4 class="title-three">Email Address</h4>
                                <p><a href="mailto:admin@test.com">admin@test.com</a></p>
                            </div>
                        </li>
                        <li class="footer-contact-menu__item"> 
                            <div class="footer-contact-menu__item-icon">
                                <i class="fas fa-phone-alt"></i>
                            </div>
                            <div class="footer-contact-menu__item-content">
                                <h4 class="title-three">Phone Number</h4>
                                <p><a href="tel:1325675641"> +132 567 5641</a></p>
                            </div>
                        </li>
                        <li class="footer-contact-menu__item"> 
                            <div class="footer-contact-menu__item-icon">
                                <i class="fas fa-map-marker-alt"></i>
                            </div>
                            <div class="footer-contact-menu__item-content">
                                <p>PO Box 16122 Collins Street West Victoria 8007 Australia</p>
                            </div>
                        </li>
                    </ul>                    
                </div>
            </div> 
            <div class="col-xl-3 col-sm-6">
                <div class="footer-item">
                    <h5 class="footer-item__title">Quick Links</h5>
                    <ul class="footer-menu">
                        <li class="footer-menu__item"><a href="about.html" class="footer-menu__link"><i class="fas fa-circle"></i> About us</a></li>
                        <li class="footer-menu__item"><a href="blog.html" class="footer-menu__link"><i class="fas fa-circle"></i> Blog</a></li>
                        <li class="footer-menu__item"><a href="contact.html" class="footer-menu__link"><i class="fas fa-circle"></i> Contact us</a></li>
                        <li class="footer-menu__item"><a href="faq.html" class="footer-menu__link"><i class="fas fa-circle"></i>Faq</a></li>
                        <li class="footer-menu__item"><a href="campaigns.html" class="footer-menu__link"><i class="fas fa-circle"></i>Campaigns</a></li>
                        <li class="footer-menu__item"><a href="dashboard.html" class="footer-menu__link"><i class="fas fa-circle"></i>Dashboard</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6">
                <div class="footer-item">
                    <h5 class="footer-item__title">Useful Link</h5>
                    <ul class="footer-menu">
                        <li class="footer-menu__item"><a href="campaigns.html" class="footer-menu__link"><i class="fas fa-circle"></i>Donate Now</a></li>
                        <li class="footer-menu__item"><a href="privicy-policy.html" class="footer-menu__link"><i class="fas fa-circle"></i>Privacy Policy </a></li>
                        <li class="footer-menu__item"><a href="terms-of-service.html" class="footer-menu__link"><i class="fas fa-circle"></i>Term Of Service </a></li>
                        <li class="footer-menu__item"><a href="cookie-policy.html" class="footer-menu__link"><i class="fas fa-circle"></i> Cookie Policy </a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6">
                <div class="footer-item">
                    <h5 class="footer-item__title">Newsletter</h5>
                    <p class="news-desc">Let's make something great together.</p>
                    <form action="#" autocomplete="off">
                        <div class="search-box  w-100">
                            <input type="email" class="form--control" placeholder="Email address">
                            <button type="submit" class="footer-email-btn"><i class="fas fa-paper-plane"></i></button>
                        </div>
                    </form>
                    <ul class="social-list">
                        <li class="social-list__item"><a href="https://www.facebook.com" class="social-list__link"><i class="fab fa-facebook-f"></i></a> </li>
                        <li class="social-list__item"><a href="https://www.twitter.com" class="social-list__link active"> <i class="fa-brands fa-x-twitter"></i></a></li>
                        <li class="social-list__item"><a href="https://www.linkedin.com" class="social-list__link"> <i class="fab fa-linkedin-in"></i></a></li>
                        <li class="social-list__item"><a href="https://www.pinterest.com" class="social-list__link"> <i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-bottom-border"></div>
        </div>
    </div>
    <div class="bottom-footer py-3">
        <div class="container">
            <div class="row justify-content-center gy-3">
                <div class="col-lg-6 col-md-6">
                    <div class="bottom-footer-tex text-center"><p>2024@ All rights reserved by <a href="">Avronsoft</a> </p></div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- ======== Footer End Here ======== -->