<!--========================== Header section Start ==========================-->
<!-- <div class="header-main-area">
    <div class="header" id="header">
        <div class="container-fluid position-relative">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header-wrapper">
                        <div class="logo-wrapper">
                            <a href="index.html" class="normal-logo">
                                <img src="assets/images/logo/logo.png" alt="logo">
                            </a>
                        </div>
    
                     
    
                        <div class="menu-right-wrapper d-flex align-items-center">

                            <div class="search-wrapper">    
                                <input type="" class="form--control" placeholder="Search....">
                                <div class="icon"><i class="fa-solid fa-magnifying-glass"></i></div>
                            </div>
                           
                            <ul class="main-menu">
                                <li class="main-menu__menu-item">
                                    <a class="main-menu__menu-link active" href="index.html">
                                        <div class="icon"><i class="fa-solid fa-house"></i></div>
                                    </a>
                                </li>
                                <li class="main-menu__menu-item">
                                    <a class="main-menu__menu-link" href="contact.html" >
                                       <div class="icon"><i class="fa-solid fa-address-card"></i></div>
                                    </a>
                                </li>
                            </ul>
    
                            <div class="language-box-warapper d-flex align-items-center">
                                <div class="language-box">
                                    <select class="select">
                                        <option selected=""> English</option>
                                        <option value="1"> Bangla </option>
                                        <option value="2"> French</option>
                                        <option value="3"> Spanish</option>
                                    </select>
                                </div>
                            </div>
                            <ul> -->
                                <!-- Mobile menu  Start -->
                                <!-- <li class="mobile-menubar">
                                    <i class="fas fa-bars sidebar-menu-show-hide"></i>
                                </li> -->
                                <!-- Mobile menu  Start -->
    
                                <!-- <li class="button-wrapper-menu">
                                    <a class="btn btn--base" href="login.html">
                                        <span class="btn--icon"> <i  class="fa-solid fa-user-tie me-1"></i></span> Login 
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!--=============== Header section End ===============-->
<!--========================== Header section Start ==========================-->
<div class="header-main-area">
    <div class="header" id="header">
        <div class="container-fluid position-relative">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header-wrapper">
                        <div class="logo-wrapper">
                            <a href="index.html" class="normal-logo">
                                <img src="assets/images/logo/logo.png" alt="logo">
                            </a>
                        </div>
    
                     
    
                        <div class="menu-right-wrapper d-flex align-items-center">

                            <div class="search-wrapper">    
                                <input type="" class="form--control" placeholder="Search....">
                                <div class="icon"><i class="fa-solid fa-magnifying-glass"></i></div>
                            </div>
                           
                            <ul class="main-menu">
                                <li class="main-menu__menu-item">
                                    <a class="main-menu__menu-link active" href="index.html">
                                        <div class="icon"><i class="fa-solid fa-house"></i></div>
                                    </a>
                                </li>
                                <li class="main-menu__menu-item">
                                    <a class="main-menu__menu-link" href="contact.html" >
                                       <div class="icon"><i class="fa-solid fa-address-card"></i></div>
                                    </a>
                                </li>
                            </ul>
    
                            <div class="language-box-warapper d-flex align-items-center">
                                <div class="language-box">
                                    <span class="selected-lan">
                                        English
                                        <i class="fa-solid fa-angle-down"></i>
                                    </span>
                                    <div class="lan-options">
                                        <span class="option-lan">English</span>
                                        <span class="option-lan">Bangla</span>
                                        <span class="option-lan">Hindi</span>
                                        <span class="option-lan">Spanish</span>
                                    </div>
                                </div>
                            </div>
                            <ul>
                                <!-- Mobile menu  Start -->
                                <li class="mobile-menubar">
                                    <i class="fas fa-bars sidebar-menu-show-hide"></i>
                                </li>
                                <!-- Mobile menu  Start -->
    
                                <li class="button-wrapper-menu">
                                    <a class="btn btn--base" href="login.html">
                                        <span class="btn--icon"> <i  class="fa-solid fa-user-tie me-1"></i></span> Login 
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--=============== Header section End ===============-->

<!--=============== Sidebar mobile menu wrap Start ===============-->
<div class="sidebar-menu-wrapper">
    <div class="top-close d-flex align-items-center justify-content-between mb-4">
        <div class="header-wrapper-siedebar">
            <div class="logo-wrapper ms-3">
                <a href="index.html" class="normal-logo" >
                    <img src="assets/images/logo/logo.png" alt="image" >
                </a>
            </div>
        </div>
        <i class="fas fa-times close-hide-show"></i>
    </div>
    <ul class="sidebar-menu-list">
        <li class="sidebar-menu-list__item">
            <a href="javascript: void(0)" class="sidebar-menu-list__link">
                <span class="text">Home</span>
            </a>
        </li>
        <li class="sidebar-menu-list__item">
            <a href="about.html" class="sidebar-menu-list__link">About</a>
        </li>
        <li class="sidebar-menu-list__item">
            <a href="blog.html" class="sidebar-menu-list__link">Blog</a>
        </li>
        <li class="sidebar-menu-list__item">
            <a href="campaigns.html" class="sidebar-menu-list__link">Campaigns</a>
        </li>
        <li class="sidebar-menu-list__item">
            <a href="faq.html" class="sidebar-menu-list__link">Faq</a>
        </li>
        <li class="sidebar-menu-list__item">
            <a href="contact.html" class="sidebar-menu-list__link">Contact</a>
        </li>
        <li class="sidebar-menu-list__item mb-3 ms-3">
            <div class="language-box">
                <select class="select">
                    <option selected="">Eng</option>
                    <option value="1">Bangla</option>
                    <option value="2">French</option>
                    <option value="3">Spenich</option>
                </select>
            </div>
        </li>
        <li class="sidebar-menu-list__item border-bottom-0 mb-3 ms-3">
            <div class="login-box mb-3">
                <a class="btn btn--base" href="login.html">
                    Login<i class="fas fa-angle-double-right ms-1"></i>
                    <span></span>
                </a>
            </div>
        </li>
    </ul>
</div>
<!--===============Sidebar mobile menu wrap End ===============-->
