<!-- ==================== Service Category 2 Start Here ==================== -->


<section class="service-area section-grey-bg pt-80 pb-60">
    <div class="container">
        <div class="row mb-4">
            <div class="section-title-one">
                <h4 class="title-one fw-semibold">
                    Trending
                </h4>
                <a href="services.html" class="service-area__btn">View All</a>
            </div>
        </div> 
        <div class="row gy-4 mb-5">
             <div class="col-lg-3 col-md-6 col-sm-6">
                <a href="service-details.html" class="single-service">
                    <div class="single-service__img">
                        <img src="assets/images/service-category/9.png" alt="img">
                        <span class="price-start">
                            From $45
                        </span>
                    </div>
                    <div class="single-service__content">
                        <ul class="rating-list mb-1">
                            <li class="rating-list__item">
                                <i class="fas fa-star"></i>
                            </li>
                            <li class="rating-list__item">
                                <i class="fas fa-star"></i>
                            </li>
                            <li class="rating-list__item">
                                <i class="fas fa-star"></i>
                            </li>
                            <li class="rating-list__item">
                                <i class="fas fa-star"></i>
                            </li>
                            <li class="rating-list__item">
                                <i class="fas fa-star"></i>
                            </li>
                            <li class="rating-list__item">
                                <span>(5.00)</span>
                            </li>
                        </ul>
                        <h5 class="title title-two">
                            AC Servicing (For Single Split)
                        </h5>
                    </div>
                </a>
             </div> 
             <div class="col-lg-3 col-md-6 col-sm-6">
                <a href="service-details.html" class="single-service">
                    <div class="single-service__img">
                        <img src="assets/images/service-category/10.png" alt="img">
                        <span class="price-start">
                            From $45
                        </span>
                    </div>
                    <div class="single-service__content">
                        <ul class="rating-list mb-1">
                            <li class="rating-list__item">
                                <i class="fas fa-star"></i>
                            </li>
                            <li class="rating-list__item">
                                <i class="fas fa-star"></i>
                            </li>
                            <li class="rating-list__item">
                                <i class="fas fa-star"></i>
                            </li>
                            <li class="rating-list__item">
                                <i class="fas fa-star"></i>
                            </li>
                            <li class="rating-list__item">
                                <i class="fas fa-star"></i>
                            </li>
                            <li class="rating-list__item">
                                <span>(5.00)</span>
                            </li>
                        </ul>
                        <h5 class="title title-two">
                            Plumbing & Sanitary Services
                        </h5>
                    </div>
                </a>
             </div>
             <div class="col-lg-3 col-md-6 col-sm-6">
                <a href="service-details.html" class="single-service">
                    <div class="single-service__img">
                        <img src="assets/images/service-category/11.png" alt="img">
                        <span class="price-start">
                            From $45
                        </span>
                    </div>
                    <div class="single-service__content">
                        <ul class="rating-list mb-1">
                            <li class="rating-list__item">
                                <i class="fas fa-star"></i>
                            </li>
                            <li class="rating-list__item">
                                <i class="fas fa-star"></i>
                            </li>
                            <li class="rating-list__item">
                                <i class="fas fa-star"></i>
                            </li>
                            <li class="rating-list__item">
                                <i class="fas fa-star"></i>
                            </li>
                            <li class="rating-list__item">
                                <i class="fas fa-star"></i>
                            </li>
                            <li class="rating-list__item">
                                <span>(5.00)</span>
                            </li>
                        </ul>
                        <h5 class="title title-two">
                            Car Repair Services
                        </h5>
                    </div>
                </a>
             </div> 
             <div class="col-lg-3 col-md-6 col-sm-6">
                <a href="service-details.html" class="single-service">
                    <div class="single-service__img">
                        <img src="assets/images/service-category/1.png" alt="img">
                        <span class="price-start">
                            From $45
                        </span>
                    </div>
                    <div class="single-service__content">
                        <ul class="rating-list mb-1">
                            <li class="rating-list__item">
                                <i class="fas fa-star"></i>
                            </li>
                            <li class="rating-list__item">
                                <i class="fas fa-star"></i>
                            </li>
                            <li class="rating-list__item">
                                <i class="fas fa-star"></i>
                            </li>
                            <li class="rating-list__item">
                                <i class="fas fa-star"></i>
                            </li>
                            <li class="rating-list__item">
                                <i class="fas fa-star"></i>
                            </li>
                            <li class="rating-list__item">
                                <span>(5.00)</span>
                            </li>
                        </ul>
                        <h5 class="title title-two">
                            Drywall Installation
                        </h5>
                    </div>
                </a>
             </div>
        </div>
        <div class="row mb-4">
            <div class="section-title-one">
                <h4 class="title-one fw-semibold">
                    Recommended
                </h4>
                <a href="services.html" class="service-area__btn">View All</a>
            </div>
        </div> 
        <div class="row gy-4">
             <div class="col-lg-3 col-md-6 col-sm-6">
                <a href="service-details.html" class="single-service">
                    <div class="single-service__img">
                        <img src="assets/images/service-category/1.png" alt="img">
                        <span class="price-start">
                            From $45
                        </span>
                    </div>
                    <div class="single-service__content">
                        <ul class="rating-list mb-1">
                            <li class="rating-list__item">
                                <i class="fas fa-star"></i>
                            </li>
                            <li class="rating-list__item">
                                <i class="fas fa-star"></i>
                            </li>
                            <li class="rating-list__item">
                                <i class="fas fa-star"></i>
                            </li>
                            <li class="rating-list__item">
                                <i class="fas fa-star"></i>
                            </li>
                            <li class="rating-list__item">
                                <i class="fas fa-star"></i>
                            </li>
                            <li class="rating-list__item">
                                <span>(5.00)</span>
                            </li>
                        </ul>
                        <h5 class="title title-two">
                            AC Servicing (For Single Split)
                        </h5>
                    </div>
                </a>
             </div> 
             <div class="col-lg-3 col-md-6 col-sm-6">
                <a href="service-details.html" class="single-service">
                    <div class="single-service__img">
                        <img src="assets/images/service-category/12.png" alt="img">
                        <span class="price-start">
                            From $45
                        </span>
                    </div>
                    <div class="single-service__content">
                        <ul class="rating-list mb-1">
                            <li class="rating-list__item">
                                <i class="fas fa-star"></i>
                            </li>
                            <li class="rating-list__item">
                                <i class="fas fa-star"></i>
                            </li>
                            <li class="rating-list__item">
                                <i class="fas fa-star"></i>
                            </li>
                            <li class="rating-list__item">
                                <i class="fas fa-star"></i>
                            </li>
                            <li class="rating-list__item">
                                <i class="fas fa-star"></i>
                            </li>
                            <li class="rating-list__item">
                                <span>(5.00)</span>
                            </li>
                        </ul>
                        <h5 class="title title-two">
                            Plumbing & Sanitary Services
                        </h5>
                    </div>
                </a>
             </div>
             <div class="col-lg-3 col-md-6 col-sm-6">
                <a href="service-details.html" class="single-service">
                    <div class="single-service__img">
                        <img src="assets/images/service-category/4.png" alt="img">
                        <span class="price-start">
                            From $45
                        </span>
                    </div>
                    <div class="single-service__content">
                        <ul class="rating-list mb-1">
                            <li class="rating-list__item">
                                <i class="fas fa-star"></i>
                            </li>
                            <li class="rating-list__item">
                                <i class="fas fa-star"></i>
                            </li>
                            <li class="rating-list__item">
                                <i class="fas fa-star"></i>
                            </li>
                            <li class="rating-list__item">
                                <i class="fas fa-star"></i>
                            </li>
                            <li class="rating-list__item">
                                <i class="fas fa-star"></i>
                            </li>
                            <li class="rating-list__item">
                                <span>(5.00)</span>
                            </li>
                        </ul>
                        <h5 class="title title-two">
                            Car Repair Services
                        </h5>
                    </div>
                </a>
             </div> 
             <div class="col-lg-3 col-md-6 col-sm-6">
                <a href="service-details.html" class="single-service">
                    <div class="single-service__img">
                        <img src="assets/images/service-category/3.png" alt="img">
                        <span class="price-start">
                            From $45
                        </span>
                    </div>
                    <div class="single-service__content">
                        <ul class="rating-list mb-1">
                            <li class="rating-list__item">
                                <i class="fas fa-star"></i>
                            </li>
                            <li class="rating-list__item">
                                <i class="fas fa-star"></i>
                            </li>
                            <li class="rating-list__item">
                                <i class="fas fa-star"></i>
                            </li>
                            <li class="rating-list__item">
                                <i class="fas fa-star"></i>
                            </li>
                            <li class="rating-list__item">
                                <i class="fas fa-star"></i>
                            </li>
                            <li class="rating-list__item">
                                <span>(5.00)</span>
                            </li>
                        </ul>
                        <h5 class="title title-two">
                            Drywall Installation
                        </h5>
                    </div>
                </a>
             </div>
        </div>
    </div>
</section>
<!-- ==================== Service Category 2 End Here ==================== -->