<div class="blog-sidebar-wrapper mb-5">
    <aside class="blog-sidebar-wrapper">
        <div class="forum-sidebar-left-wrapper">

            <div class="forum-sidebar-menu-item">
                <h4 class="forum-sidebar-menu-item__title">Categories</h5>
                <ul class="forum-sidebar-menu">
                    <li class="forum-sidebar-menu__item">
                        <a  href="#" class="forum-sidebar-menu__link "><span class="icon"><i class="fa-brands fa-wordpress"></i></span>Wordpress</a>
                    </li>
                    <li class="forum-sidebar-menu__item">
                        <a  href="#" class="forum-sidebar-menu__link"><span class="icon"><i class="fa-solid fa-sitemap"></i></span>Information</a>
                    </li>
                    <li class="forum-sidebar-menu__item">
                        <a  href="#" class="forum-sidebar-menu__link"><span class="icon"><i class="fa-solid fa-earth-oceania"></i></span>Programming</a>
                    </li>
                    <li class="forum-sidebar-menu__item">
                        <a  href="#" class="forum-sidebar-menu__link"><span class="icon"><i class="fa-solid fa-circle-radiation"></i></span>Animation</a>
                    </li>
                    <li class="forum-sidebar-menu__item">
                        <a  href="#" class="forum-sidebar-menu__link"><span class="icon"><i class="fa-solid fa-medal"></i></span>Sports</a>
                    </li>
                    <li class="forum-sidebar-menu__item">
                        <a  href="#" class="forum-sidebar-menu__link"><span class="icon"><i class="fa-solid fa-microscope"></i></span>Technology</a>
                    </li>
                    <li class="forum-sidebar-menu__item">
                        <a  href="#" class="forum-sidebar-menu__link"><span class="icon"><i class="fa-solid fa-newspaper"></i></span>News</a>
                    </li>
                    <li class="forum-sidebar-menu__item">
                        <a  href="#" class="forum-sidebar-menu__link"><span class="icon"><i class="fa-solid fa-server"></i></span>Hosting</a>
                    </li>
                </ul>
            </div>

            <!-- <div class="forum-sidebar-menu-item">
                <h4 class="forum-sidebar-menu-item__title">Statistics</h5>
                <ul class="statistics-card">
                    <li class="statistics-card__item">
                        <a class="link" href="category.html"></a>
                        <div class="left">
                            <span class="bg-icon"><i class="fa-solid fa-list"></i></span>
                            <p class="title">Categories</>
                        </div>
                        <h6 class="count">12</h6>
                    </li>
                    <li class="statistics-card__item">
                        <a class="link" href="category.html"></a>
                        <div class="left">
                            <span class="bg-icon"><i class="fa-solid fa-address-card"></i></span>
                            <p class="title">Posts</>
                        </div>
                        <h6 class="count">15</h6>
                    </li>
                    <li class="statistics-card__item">
                        <a class="link" href="category.html"></a>
                        <div class="left">
                            <span class="bg-icon"><i class="fa-solid fa-bag-shopping"></i></span>
                            <p class="title">Jobs</>
                        </div>
                        <h6 class="count">18</h6>
                    </li>
                    <li class="statistics-card__item">
                        <a class="link" href="category.html"></a>
                        <div class="left">
                            <span class="bg-icon"><i class="fa-solid fa-calendar-check"></i></span>
                            <p class="title">Events</>
                        </div>
                        <h6 class="count">20</h6>
                    </li>
                </ul>
           
            </div> -->
            
            <div class="forum-sidebar-menu-item">
                <h4 class="forum-sidebar-menu-item__title">Trending Post</h5>
                <div class="forum-sidebar-menu">
                    <div class="treading-card">
                        <a class="link" href="private-group.html"></a>
                        <div class="treading-card__thumb">
                           <img src="assets/images/team/team-1.png" alt="">
                        </div>
                        <div class="treading-card__content">
                            <h6 class="treading-card__title">Top Tips for New..</h6>
                            <div class="treading-card__bottom">
                                <div class="left">
                                    <div class="item">
                                        <i class="fa-regular fa-eye"></i> <span>456 Members</span>
                                    </div>
                                </div>
                                <div class="left">
                                    <div class="item">
                                    <i class="fa-regular fa-comment-dots"></i> <span>202 posts</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="treading-card">
                        <a class="link" href="private-group.html"></a>
                        <div class="treading-card__thumb">
                           <img src="assets/images/team/team-2.png" alt="">
                        </div>
                        <div class="treading-card__content">
                            <h6 class="treading-card__title">Beginner's Guide to..</h6>
                            <div class="treading-card__bottom">
                                <div class="left">
                                    <div class="item">
                                        <i class="fa-regular fa-eye"></i> <span>456 Members</span>
                                    </div>
                                </div>
                                <div class="left">
                                    <div class="item">
                                    <i class="fa-regular fa-comment-dots"></i> <span>202 posts</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="treading-card">
                        <a class="link" href="private-group.html"></a>
                        <div class="treading-card__thumb">
                           <img src="assets/images/team/team-3.png" alt="">
                        </div>
                        <div class="treading-card__content">
                            <h6 class="treading-card__title">Projects You Can..</h6>
                            <div class="treading-card__bottom">
                                <div class="left">
                                    <div class="item">
                                        <i class="fa-regular fa-eye"></i> <span>456 Members</span>
                                    </div>
                                </div>
                                <div class="left">
                                    <div class="item">
                                    <i class="fa-regular fa-comment-dots"></i> <span>202 posts</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="treading-card">
                        <a class="link" href="private-group.html"></a>
                        <div class="treading-card__thumb">
                           <img src="assets/images/team/team-4.png" alt="">
                        </div>
                        <div class="treading-card__content">
                            <h6 class="treading-card__title">Favorite Recipes..</h6>
                            <div class="treading-card__bottom">
                                <div class="left">
                                    <div class="item">
                                        <i class="fa-regular fa-eye"></i> <span>456 Members</span>
                                    </div>
                                </div>
                                <div class="left">
                                    <div class="item">
                                    <i class="fa-regular fa-comment-dots"></i> <span>202 posts</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="treading-card">
                        <a class="link" href="private-group.html"></a>
                        <div class="treading-card__thumb">
                           <img src="assets/images/team/team-5.png" alt="">
                        </div>
                        <div class="treading-card__content">
                            <h6 class="treading-card__title">The Best Travel..</h6>
                            <div class="treading-card__bottom">
                                <div class="left">
                                    <div class="item">
                                        <i class="fa-regular fa-eye"></i> <span>456 Members</span>
                                    </div>
                                </div>
                                <div class="left">
                                    <div class="item">
                                    <i class="fa-regular fa-comment-dots"></i> <span>202 posts</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            

        </div>
    </aside>
</div>