<aside class="blog-sidebar-wrapper mb-5">
    <div class="forum-sidebar-left-wrapper">
        <div class="forum-sidebar-menu-item">
            <h4 class="forum-sidebar-menu-item__title">Important</h5>
            <ul class="forum-sidebar-menu">
                <li class="forum-sidebar-menu__item active">
                    <a  href="#" class="forum-sidebar-menu__link "><span class="icon"><i class="fa-solid fa-fire"></i></span>All Posts</a>
                </li>
                <li class="forum-sidebar-menu__item">
                    <a  href="#" class="forum-sidebar-menu__link"><span class="icon"><i class="fa-solid fa-bag-shopping"></i></span>Job Posts</a>
                </li>
                <li class="forum-sidebar-menu__item">
                    <a  href="#" class="forum-sidebar-menu__link"><span class="icon"><i class="fa-solid fa-calendar-check"></i></span>All Events</a>
                </li>
                <li class="forum-sidebar-menu__item">
                    <a  href="#" class="forum-sidebar-menu__link"><span class="icon"><i class="fa-solid fa-star"></i></span>Add to favorites</a>
                </li>
            </ul>
        </div>

        <div class="forum-sidebar-menu-item">
            <h4 class="forum-sidebar-menu-item__title">private Group</h5>
            <div class="forum-sidebar-menu">
                <div class="treading-card active">
                    <div class="lock-img">
                        <img src="assets/images/lock/lock.png" alt="">
                    </div>
                    <a class="link" href="private-group.html"></a>
                    <div class="treading-card__icon">
                        <i class="fa-brands fa-node-js"></i>
                    </div>
                    <div class="treading-card__content">
                        <h6 class="treading-card__title">#javascript</h6>
                        <div class="treading-card__bottom">
                            <div class="left">
                                <div class="item">
                                    <i class="fa-solid fa-user-tie"></i> <span>456 Members</span>
                                </div>
                            </div>
                            <div class="left">
                                <div class="item">
                                <i class="fa-regular fa-pen-to-square"></i> <span>202 posts</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="treading-card">
                    <div class="lock-img">
                        <img src="assets/images/lock/lock.png" alt="">
                    </div>
                    <a class="link" href="private-group.html"></a>
                    <div class="treading-card__icon">
                        <i class="fa-solid fa-code"></i>
                    </div>
                    <div class="treading-card__content">
                        <h6 class="treading-card__title">#html_Css</h6>
                        <div class="treading-card__bottom">
                            <div class="left">
                                <div class="item">
                                    <i class="fa-solid fa-user-tie"></i> <span>456 Members</span>
                                </div>
                            </div>
                            <div class="left">
                                <div class="item">
                                <i class="fa-regular fa-pen-to-square"></i> <span>202 posts</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="treading-card">
                    <div class="lock-img">
                        <img src="assets/images/lock/lock.png" alt="">
                    </div>
                    <a class="link" href="private-group.html"></a>
                    <div class="treading-card__icon">
                        <i class="fa-brands fa-free-code-camp"></i>
                    </div>
                    <div class="treading-card__content">
                        <h6 class="treading-card__title">#Code line</h6>
                        <div class="treading-card__bottom">
                            <div class="left">
                                <div class="item">
                                    <i class="fa-solid fa-user-tie"></i> <span>456 Members</span>
                                </div>
                            </div>
                            <div class="left">
                                <div class="item">
                                <i class="fa-regular fa-pen-to-square"></i> <span>202 posts</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="forum-sidebar-menu-item">
            <h4 class="forum-sidebar-menu-item__title">Others</h5>
            <ul class="forum-sidebar-menu">
                <li class="forum-sidebar-menu__item">
                    <a  href="#" class="forum-sidebar-menu__link "><span class="icon"><i class="fa-solid fa-layer-group"></i></span>Terms of Service</a>
                </li>
                <li class="forum-sidebar-menu__item">
                    <a  href="#" class="forum-sidebar-menu__link"><span class="icon"><i class="fa-solid fa-layer-group"></i></span>Privacy Policy</a>
                </li>
                <li class="forum-sidebar-menu__item">
                    <a  href="#" class="forum-sidebar-menu__link"><span class="icon"><i class="fa-solid fa-layer-group"></i></span>Cookie Policy</a>
                </li>
                <div class="bottom-footer-tex">
                    <p class="footer-bottom-text"> Copyright © 2024 All rights reserved.</p>
                </div>
            </ul>
        </div>

        <!-- <div class="forum-sidebar-menu-item">
            <h4 class="forum-sidebar-menu-item__title">Others</h4>
            <ul class="forum-sidebar-privacy">
                <li class="forum-sidebar-privacy__item">
                    <a href="privicy-policy.html" class="forum-sidebar-privacy__link">Terms of Service</a>
                </li>
                <li class="forum-sidebar-privacy__item">
                    <a href="privicy-policy.html" class="forum-sidebar-privacy__link">Privacy Policy</a>
                </li>
                <li class="forum-sidebar-privacy__item">
                    <a href="privicy-policy.html" class="forum-sidebar-privacy__link">Cookie Policy</a>
                </li>
            </ul>
            <div class="bottom-footer-tex">
                <p class="footer-bottom-text"> Copyright © 2024 All rights reserved.</p>
            </div>
        </div> -->

    </div>
</aside>