<!-- =========== Team Start Here =========== -->
<section class="team-area py-120">
    <img class="team-bg" src="assets/images/team/team-bg.png" alt="image">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="section-heading text-center">
                    <h3 class="subtitle-big">Volunteer</h3>
                    <span class="subtitle">Our Volunteer</span>
                     <h2 class="title-one">Our Top Volunteer Heroes</h2>
                     <p class="desc">Welcome to our crowdfunding platform, your gateway to transformative fundraising. With our intuitive interface and features, supporting projects has never been easier.</p>
                 </div>
            </div>
        </div>
        <div class="row gy-4 team-slider-active justify-content-center">
            <div class="col-lg-3 col-md-6">
                <div class="team-item-card">
                    <div class="team-item-card__thumb">
                        <span class="shape-top"></span>
                        <img src="assets/images/team/team-1.png" alt="image">
                    </div>
                    <div class="team-item-card__content-wrapper">
                        <div class="team-name">
                            <h3 class="title-two">Panther Pride</h3>
                            <span>HR Manager</span>
                        </div>
                        <div class="social-wrap d-flex align-items-center justify-content-end">
                            <ul class="d-flex">
                                <li class="share__icon"><a href="javascript:void(0)"><i class="fa-solid fa-share-nodes"></i></a>
                                    
                                    <ul class="social-team">
                                        <li class="social-list__item"><a href="https://www.facebook.com" class="social-list__link"><i class="fab fa-facebook-f"></i></a> </li>
                                        <li class="social-list__item"><a href="https://www.twitter.com" class="social-list__link active"> <i class="fab fa-twitter"></i></a></li>
                                        <li class="social-list__item"><a href="https://www.linkedin.com" class="social-list__link"> <i class="fab fa-linkedin-in"></i></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team-item-card">
                    <div class="team-item-card__thumb">
                        <span class="shape-top"></span>
                        <img src="assets/images/team/team-2.png" alt="image">
                    </div>
                    <div class="team-item-card__content-wrapper">
                        <div class="team-name">
                            <h3 class="title-two">Falcon Force</h3>
                            <span>Volunteer</span>
                        </div>
                        <div class="social-wrap d-flex align-items-center justify-content-end">
                            <ul class="d-flex">
                                <li class="share__icon"><a href="javascript:void(0)"><i class="fa-solid fa-share-nodes"></i></a>
                                    
                                    <ul class="social-team">
                                        <li class="social-list__item"><a href="https://www.facebook.com" class="social-list__link"><i class="fab fa-facebook-f"></i></a> </li>
                                        <li class="social-list__item"><a href="https://www.twitter.com" class="social-list__link active"> <i class="fab fa-twitter"></i></a></li>
                                        <li class="social-list__item"><a href="https://www.linkedin.com" class="social-list__link"> <i class="fab fa-linkedin-in"></i></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team-item-card">
                    <div class="team-item-card__thumb">
                        <span class="shape-top"></span>
                        <img src="assets/images/team/team-3.png" alt="image">
                    </div>
                    <div class="team-item-card__content-wrapper">
                        <div class="team-name">
                            <h3 class="title-two">Phoenix Rising</h3>
                            <span>CEO & Founder</span>
                        </div>
                        <div class="social-wrap d-flex align-items-center justify-content-end">
                            <ul class="d-flex">
                                <li class="share__icon"><a href="javascript:void(0)"><i class="fa-solid fa-share-nodes"></i></a>
                                    
                                    <ul class="social-team">
                                        <li class="social-list__item"><a href="https://www.facebook.com" class="social-list__link"><i class="fab fa-facebook-f"></i></a> </li>
                                        <li class="social-list__item"><a href="https://www.twitter.com" class="social-list__link active"> <i class="fab fa-twitter"></i></a></li>
                                        <li class="social-list__item"><a href="https://www.linkedin.com" class="social-list__link"> <i class="fab fa-linkedin-in"></i></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team-item-card">
                    <div class="team-item-card__thumb">
                        <span class="shape-top"></span>
                        <img src="assets/images/team/team-4.png" alt="image">
                    </div>
                    <div class="team-item-card__content-wrapper">
                        <div class="team-name">
                            <h3 class="title-two">Dragon Dream</h3>
                            <span>Co Founder</span>
                        </div>
                        <div class="social-wrap d-flex align-items-center justify-content-end">
                            <ul class="d-flex">
                                <li class="share__icon"><a href="javascript:void(0)"><i class="fa-solid fa-share-nodes"></i></a>
                                    
                                    <ul class="social-team">
                                        <li class="social-list__item"><a href="https://www.facebook.com" class="social-list__link"><i class="fab fa-facebook-f"></i></a> </li>
                                        <li class="social-list__item"><a href="https://www.twitter.com" class="social-list__link active"> <i class="fab fa-twitter"></i></a></li>
                                        <li class="social-list__item"><a href="https://www.linkedin.com" class="social-list__link"> <i class="fab fa-linkedin-in"></i></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team-item-card">
                    <div class="team-item-card__thumb">
                        <span class="shape-top"></span>
                        <img src="assets/images/team/team-5.png" alt="image">
                    </div>
                    <div class="team-item-card__content-wrapper">
                        <div class="team-name">
                            <h3 class="title-two">Hawk Haven</h3>
                            <span>Co Founder</span>
                        </div>
                        <div class="social-wrap d-flex align-items-center justify-content-end">
                            <ul class="d-flex">
                                <li class="share__icon"><a href="javascript:void(0)"><i class="fa-solid fa-share-nodes"></i></a>
                                    
                                    <ul class="social-team">
                                        <li class="social-list__item"><a href="https://www.facebook.com" class="social-list__link"><i class="fab fa-facebook-f"></i></a> </li>
                                        <li class="social-list__item"><a href="https://www.twitter.com" class="social-list__link active"> <i class="fab fa-twitter"></i></a></li>
                                        <li class="social-list__item"><a href="https://www.linkedin.com" class="social-list__link"> <i class="fab fa-linkedin-in"></i></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =========== Team Start Here =========== -->
