<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>AvronFund</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/images/logo/favicon.png">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="assets/css/fontawesome.min.css">
    <link rel="stylesheet" href="assets/css/line-awesome.min.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <!-- Apex chart -->
    <link rel="stylesheet" href="assets/css/apexchart-checkbox.min.css">
    <script src="assets/js/apexcharts.js"></script>
    <!-- Slick slider -->
    <link rel="stylesheet" href="assets/css/slick.css">
    <!-- Datepicker -->
    <link rel="stylesheet" href="assets/css/datepicker.min.css">
   <!-- Odometer counter -->
    <link rel="stylesheet" href="assets/css/odometer.css">
    <!-- Main css -->
    <link rel="stylesheet" href="assets/css/main.css">
</head>
<body class="home-two">
<div class="body-bg-fixed-img"></div>

<!--==================== Preloader Start ====================-->      
<div id="loading">
    <div class="loader-top">
        <div class="loader"></div>
    </div>  
</div>
<!--==================== Preloader End ====================-->

<!--==================== Overlay Start ====================-->
<div class="body-overlay"></div>
<!--==================== Overlay End ====================-->

<!--==================== Sidebar Overlay End ====================-->
<div class="sidebar-overlay"></div>
<!--==================== Sidebar Overlay End ====================-->

<!-- ==================== Scroll to Top End Here ==================== -->
<a class="scroll-top"><i class="fas fa-angle-double-up"></i></a>
<!-- ==================== Scroll to Top End Here ==================== -->