<!--============== Testimonials Section Start ==============-->
<section class="testimonial-area section-bg py-120">
    <img  class="testimonial-shape-right animate-y-axis-slider" src="assets/images/testimonials/testimonials-shape-right.png" alt="Image">
    <img  class="testimonial-shape-left animate-y-axis-slider" src="assets/images/testimonials/testimonials-shape-left.png" alt="Image">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-5">
                <div class="section-heading">
                    <h3 class="subtitle-big">Review</h3>
                    <span class="subtitle"> Our Testimonial</span>
                     <h2 class="title-one">Trusted by Our Clients</h2>
                     <p class="desc mb-4">Welcome to our courier website, your gateway to seamless shipping solutions. With our user-friendly interface and robust features, sending packages has never been easier.</p>
                     <a href="contact.html" class="btn btn--base">
                        Get in Touch ->  Message Us <i class="fas fa-angle-double-right"></i>
                        <span></span>
                    </a>
                 </div>
            </div>
            <div class="col-lg-7">
                <div class="testimonial-active">
                    <div class="testimonails-card">
                        <div class="testimonial-item">
                            <div class="testimonial-item__quate"><i class="fa-solid fa-quote-right"></i>
                            </div>
                            
                            <div class="testimonial-item__thumb">
                                <img src="assets/images/testimonials/testimonials-01.png" alt="">
                            </div>

                            <div class="testimonial-item__content">
                                <h4 class="title-two">Crowdfunding Made Easy</h4>
                                <p class="testimonial-item__desc">This platform made the crowdfunding process seamless, stress-free, and exceptional. I couldn't have asked for a better experience! Absolutely recommend it to everyone!</p>
                                
                                <div class="testimonial-item__info">
                                    <div class="testimonial-item__details">
                                        <h5 class="testimonial-item__name"> Matthew Thompson</h5>
                                        <span class="testimonial-item__designation">Founder</span>
                                    </div>
                                </div>
                            
                                <div class="testimonial-item__rating">
                                    <ul class="rating-list justify-content-center">
                                        <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                        <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                        <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                        <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                        <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonails-card">
                        <div class="testimonial-item">
                            <div class="testimonial-item__quate"><i class="fa-solid fa-quote-right"></i>
                            </div>
                            
                            <div class="testimonial-item__thumb">
                                <img src="assets/images/testimonials/testimonials-02.png" alt="">
                            </div>

                            <div class="testimonial-item__content">
                                <h4 class="title-two">Crowdfunding Tips and Tricks!</h4>
                                <p class="testimonial-item__desc">This platform made the crowdfunding process seamless, stress-free, and exceptional. I couldn't have asked for a better experience! Absolutely recommend it to everyone!</p>
                                
                                <div class="testimonial-item__info">
                                    <div class="testimonial-item__details">
                                        <h5 class="testimonial-item__name">Christopher Lee</h5>
                                        <span class="testimonial-item__designation">Ceo & Founder</span>
                                    </div>
                                </div>
                            
                                <div class="testimonial-item__rating">
                                    <ul class="rating-list justify-content-center">
                                        <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                        <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                        <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                        <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                        <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonails-card">
                        <div class="testimonial-item">
                            <div class="testimonial-item__quate"><i class="fa-solid fa-quote-right"></i>
                            </div>
                            
                            <div class="testimonial-item__thumb">
                                <img src="assets/images/testimonials/testimonials-03.png" alt="">
                            </div>

                            <div class="testimonial-item__content">
                                <h4 class="title-two">Crowdfunding Made Simple!</h4>
                                <p class="testimonial-item__desc">This platform made the crowdfunding process seamless, stress-free, and exceptional. I couldn't have asked for a better experience! Absolutely recommend it to everyone!</p>
                                
                                <div class="testimonial-item__info">
                                    <div class="testimonial-item__details">
                                        <h5 class="testimonial-item__name">Amanda Wilson</h5>
                                        <span class="testimonial-item__designation">Ceo & Founder</span>
                                    </div>
                                </div>
                            
                                <div class="testimonial-item__rating">
                                    <ul class="rating-list justify-content-center">
                                        <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                        <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                        <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                        <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                        <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--============== Testimonials Section End ==============-->