<!-- ============== Top Branches Start Here ============== -->
<section class="top-branches-area section-bg py-120 ">
    <img class="branch-bg" src="assets/images/branches/branch-bg.png" alt="Images">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="section-heading text-center">
                    <span class="subtitle">Our Branches.</span>
                     <h2 class="title-one">Our Top All Branches</h2>
                     <p class="desc">Welcome to our courier website, your gateway to seamless shipping solutions. With our user-friendly interface and robust features, sending packages has never been easier.</p>
                 </div>
            </div>
        </div>
        <div class="row gy-4">
            <div class="col-xl-5 col-lg-12">
                <div class="top-branch-left">
                    <img class="service-shape" src="assets/images/branches/branches-img.png" alt="Images">
                </div>
            </div>
            <div class="col-xl-7 col-lg-12">
                <div class="row branches-active-slider">
                    <div class="col-lg-6">
                        <div class="top-branch-right">
                            <div class="branch-item">
                                <div class="branch-item__icon">
                                    <div class="location">
                                        <i class="fa-solid fa-location-dot"></i>
                                    </div>
                                    <div class="location-name">
                                        <h3 class="title-three">America</h3>
                                    </div>
                                </div>
                                <div class="branch-item__location-content">
                                    <ul>
                                        <li>
                                            <i class="fa-solid fa-location-dot"></i>
                                            <p>Washington, McDonald</p>
                                        </li>
                                        <li>
                                            <i class="fas fa-phone-alt"></i>
                                            <p>Mobile: 543 5432 6553</p>
                                        </li>
                                        <li>
                                            <i class="fas fa-envelope"></i>
                                            <p>demomail@gmaol.com</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="top-branch-right">
                            <div class="branch-item">
                                <div class="branch-item__icon">
                                    <div class="location">
                                        <i class="fa-solid fa-location-dot"></i>
                                    </div>
                                    <div class="location-name">
                                        <h3 class="title-three">Canada</h3>
                                    </div>
                                </div>
                                <div class="branch-item__location-content">
                                    <ul>
                                        <li>
                                            <i class="fa-solid fa-location-dot"></i>
                                            <p> Ottawa,The Glebe</p>
                                        </li>
                                        <li>
                                            <i class="fas fa-phone-alt"></i>
                                            <p>Mobile: 432 4321 5432</p>
                                        </li>
                                        <li>
                                            <i class="fas fa-envelope"></i>
                                            <p>demomail@gmaol.com</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="top-branch-right">
                            <div class="branch-item">
                                <div class="branch-item__icon">
                                    <div class="location">
                                        <i class="fa-solid fa-location-dot"></i>
                                    </div>
                                    <div class="location-name">
                                        <h3 class="title-three">turkey</h3>
                                    </div>
                                </div>
                                <div class="branch-item__location-content">
                                    <ul>
                                        <li>
                                            <i class="fa-solid fa-location-dot"></i>
                                            <p>Ankara,Polatli</p>
                                        </li>
                                        <li>
                                            <i class="fas fa-phone-alt"></i>
                                            <p>Mobile: 432 3213 6532</p>
                                        </li>
                                        <li>
                                            <i class="fas fa-envelope"></i>
                                            <p>demo123@gmaol.com</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="top-branch-right">
                            <div class="branch-item">
                                <div class="branch-item__icon">
                                    <div class="location">
                                        <i class="fa-solid fa-location-dot"></i>
                                    </div>
                                    <div class="location-name">
                                        <h3 class="title-three">Pakistan</h3>
                                    </div>
                                </div>
                                <div class="branch-item__location-content">
                                    <ul>
                                        <li>
                                            <i class="fa-solid fa-location-dot"></i>
                                            <p>Gujranwala, McDonald</p>
                                        </li>
                                        <li>
                                            <i class="fas fa-phone-alt"></i>
                                            <p>Mobile: 543 5432 6553</p>
                                        </li>
                                        <li>
                                            <i class="fas fa-envelope"></i>
                                            <p>demomail@gmaol.com</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="top-branch-right">
                            <div class="branch-item">
                                <div class="branch-item__icon">
                                    <div class="location">
                                        <i class="fa-solid fa-location-dot"></i>
                                    </div>
                                    <div class="location-name">
                                        <h3 class="title-three">China</h3>
                                    </div>
                                </div>
                                <div class="branch-item__location-content">
                                    <ul>
                                        <li>
                                            <i class="fa-solid fa-location-dot"></i>
                                            <p> Ottawa,The Glebe</p>
                                        </li>
                                        <li>
                                            <i class="fas fa-phone-alt"></i>
                                            <p>Mobile: 432 4321 5432</p>
                                        </li>
                                        <li>
                                            <i class="fas fa-envelope"></i>
                                            <p>demomail@gmaol.com</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="top-branch-right">
                            <div class="branch-item">
                                <div class="branch-item__icon">
                                    <div class="location">
                                        <i class="fa-solid fa-location-dot"></i>
                                    </div>
                                    <div class="location-name">
                                        <h3 class="title-three">Japan</h3>
                                    </div>
                                </div>
                                <div class="branch-item__location-content">
                                    <ul>
                                        <li>
                                            <i class="fa-solid fa-location-dot"></i>
                                            <p>Ankara,Polatli</p>
                                        </li>
                                        <li>
                                            <i class="fas fa-phone-alt"></i>
                                            <p>Mobile: 432 3213 6532</p>
                                        </li>
                                        <li>
                                            <i class="fas fa-envelope"></i>
                                            <p>demo123@gmaol.com</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="top-branch-right">
                            <div class="branch-item">
                                <div class="branch-item__icon">
                                    <div class="location">
                                        <i class="fa-solid fa-location-dot"></i>
                                    </div>
                                    <div class="location-name">
                                        <h3 class="title-three">France</h3>
                                    </div>
                                </div>
                                <div class="branch-item__location-content">
                                    <ul>
                                        <li>
                                            <i class="fa-solid fa-location-dot"></i>
                                            <p>Gujranwala, McDonald</p>
                                        </li>
                                        <li>
                                            <i class="fas fa-phone-alt"></i>
                                            <p>Mobile: 543 5432 6553</p>
                                        </li>
                                        <li>
                                            <i class="fas fa-envelope"></i>
                                            <p>demomail@gmaol.com</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="top-branch-right">
                            <div class="branch-item">
                                <div class="branch-item__icon">
                                    <div class="location">
                                        <i class="fa-solid fa-location-dot"></i>
                                    </div>
                                    <div class="location-name">
                                        <h3 class="title-three">Spain</h3>
                                    </div>
                                </div>
                                <div class="branch-item__location-content">
                                    <ul>
                                        <li>
                                            <i class="fa-solid fa-location-dot"></i>
                                            <p> Ottawa,The Glebe</p>
                                        </li>
                                        <li>
                                            <i class="fas fa-phone-alt"></i>
                                            <p>Mobile: 432 4321 5432</p>
                                        </li>
                                        <li>
                                            <i class="fas fa-envelope"></i>
                                            <p>demomail@gmaol.com</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="top-branch-right">
                            <div class="branch-item">
                                <div class="branch-item__icon">
                                    <div class="location">
                                        <i class="fa-solid fa-location-dot"></i>
                                    </div>
                                    <div class="location-name">
                                        <h3 class="title-three">Netherlands</h3>
                                    </div>
                                </div>
                                <div class="branch-item__location-content">
                                    <ul>
                                        <li>
                                            <i class="fa-solid fa-location-dot"></i>
                                            <p>Ankara,Polatli</p>
                                        </li>
                                        <li>
                                            <i class="fas fa-phone-alt"></i>
                                            <p>Mobile: 432 3213 6532</p>
                                        </li>
                                        <li>
                                            <i class="fas fa-envelope"></i>
                                            <p>demo123@gmaol.com</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============== Top Branches End Here ============== -->

