<!--============ Top Donner Start =============-->
<section class="category-area py-120 fix">
    <img class="donor-bg-img animate-x-axis" src="assets/images/donor/donor-bg-img.png" alt="img">
    <div class="container">
        <div class="row gy-4 justify-content-center">
            <div class="col-lg-7">
                <div class="section-heading text-center">
                    <h3 class="subtitle-big">Donors</h3>
                    <span class="subtitle">Our Top Donors</span>
                     <h2 class="title-one">Celebrating Our Top Donors</h2>
                     <p class="desc">Welcome to our crowdfunding platform, your gateway to transformative fundraising. With our intuitive interface and features, supporting projects has never been easier</p>
                 </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="top-donor">
                    <img class="donor-bg" src="assets/images/donor/donor-bg-shape.png" alt="">
                    <span class="top-donor__icon"><i class="fa-solid fa-user-secret"></i></span>
                    <span class="top-donor__count">1st</span>
                    <div class="top-donor__content">
                        <h4 class="title-two">Mary Ann</h4>
                        <p class="amount">$5,000.00</p>
                    </div>
                </div>    
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="top-donor">
                    <img class="donor-bg" src="assets/images/donor/donor-bg-shape.png" alt="">
                    <span class="top-donor__icon"><i class="fa-solid fa-user-secret"></i></span>
                    <span class="top-donor__count">2nd</span>
                    <div class="top-donor__content">
                        <h4 class="title-two">Anonymous</h4>
                        <p class="amount">$1,000.00</p>
                    </div>
                </div>    
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="top-donor">
                    <img class="donor-bg" src="assets/images/donor/donor-bg-shape.png" alt="">
                    <span class="top-donor__icon"><i class="fa-solid fa-user-secret"></i></span>
                    <span class="top-donor__count">3rd</span>
                    <div class="top-donor__content">
                        <h4 class="title-two">Mary Kate</h4>
                        <p class="amount">$3,000.00</p>
                    </div>
                </div>    
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="top-donor">
                    <img class="donor-bg" src="assets/images/donor/donor-bg-shape.png" alt="">
                    <span class="top-donor__icon"><i class="fa-solid fa-user-secret"></i></span>
                    <span class="top-donor__count">4th</span>
                    <div class="top-donor__content">
                        <h4 class="title-two">Lisa Ann</h4>
                        <p class="amount">$700.00</p>
                    </div>
                </div>    
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="top-donor">
                    <img class="donor-bg" src="assets/images/donor/donor-bg-shape.png" alt="">
                    <span class="top-donor__icon"><i class="fa-solid fa-user-secret"></i></span>
                    <span class="top-donor__count">5th</span>
                    <div class="top-donor__content">
                        <h4 class="title-two">Tommy John</h4>
                        <p class="amount">$500.00</p>
                    </div>
                </div>    
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="top-donor">
                    <img class="donor-bg" src="assets/images/donor/donor-bg-shape.png" alt="">
                    <span class="top-donor__icon"><i class="fa-solid fa-user-secret"></i></span>
                    <span class="top-donor__count">6th</span>
                    <div class="top-donor__content">
                        <h4 class="title-two">Ricky Nelson</h4>
                        <p class="amount">$4,000.00</p>
                    </div>
                </div>    
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="top-donor">
                    <img class="donor-bg" src="assets/images/donor/donor-bg-shape.png" alt="">
                    <span class="top-donor__icon"><i class="fa-solid fa-user-secret"></i></span>
                    <span class="top-donor__count">7th</span>
                    <div class="top-donor__content">
                        <h4 class="title-two">Johnny Depp</h4>
                        <p class="amount">$100.00</p>
                    </div>
                </div>    
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="top-donor">
                    <img class="donor-bg" src="assets/images/donor/donor-bg-shape.png" alt="">
                    <span class="top-donor__icon"><i class="fa-solid fa-user-secret"></i></span>
                    <span class="top-donor__count">8th</span>
                    <div class="top-donor__content">
                        <h4 class="title-two">Mary Beth</h4>
                        <p class="amount">$4,000.00</p>
                    </div>
                </div>    
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="top-donor">
                    <img class="donor-bg" src="assets/images/donor/donor-bg-shape.png" alt="">
                    <span class="top-donor__icon"><i class="fa-solid fa-user-secret"></i></span>
                    <span class="top-donor__count">9th</span>
                    <div class="top-donor__content">
                        <h4 class="title-two">Johnny Depp</h4>
                        <p class="amount">$400.00</p>
                    </div>
                </div>    
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="top-donor">
                    <img class="donor-bg" src="assets/images/donor/donor-bg-shape.png" alt="">
                    <span class="top-donor__icon"><i class="fa-solid fa-user-secret"></i></span>
                    <span class="top-donor__count">10th</span>
                    <div class="top-donor__content">
                        <h4 class="title-two">Emma Grace</h4>
                        <p class="amount">$1,000.00</p>
                    </div>
                </div>    
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="top-donor">
                    <img class="donor-bg" src="assets/images/donor/donor-bg-shape.png" alt="">
                    <span class="top-donor__icon"><i class="fa-solid fa-user-secret"></i></span>
                    <span class="top-donor__count">11th</span>
                    <div class="top-donor__content">
                        <h4 class="title-two">Johnny Depp</h4>
                        <p class="amount">$100.00</p>
                    </div>
                </div>    
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="top-donor">
                    <img class="donor-bg" src="assets/images/donor/donor-bg-shape.png" alt="">
                    <span class="top-donor__icon"><i class="fa-solid fa-user-secret"></i></span>
                    <span class="top-donor__count">12th</span>
                    <div class="top-donor__content">
                        <h4 class="title-two">Mary Kay</h4>
                        <p class="amount">$200.00</p>
                    </div>
                </div>    
            </div>
        </div>
    </div>
</section>
<!--============ Top Donner End ============-->