<!-- ==================== Why Choose us Start Here ==================== -->
<section class="why-choose-area py-120">
    <div class="why-choose-bg animate-zoom-fade"></div>
    <div class="why-choose-border"></div>
    <div class="container">
        <div class="row gy-4 align-items-center">
            <div class="col-lg-7">
                
                <div class="section-heading mb-4">
                    <h3 class="subtitle-big">Choose</h3>
                    <span class="subtitle">why choose us</span>
                    <h2 class="title-one">Driven by Purpose Your Success, Our Commitment.</h2>
                    <p class="section-heading__desc mb-4">Welcome to our crowdfunding platform, your gateway to transformative fundraising solutions. With our intuitive platform and comprehensive features, supporting projects has never been simpler. Monitor campaigns in real-time.</p>
                </div>
                <div class="why-choose-us__content">
                    <div class="why-choose-us__topic">

                        <div class="item">
                            <i class="fa-solid fa-circle-check"></i>
                            <div class="content">
                                <h4 class="title-three">Track Record of Success</h4>
                                <p>With a track record of successful projects and satisfied backers, our platform stands.</p>
                            </div>
                        </div>
                    
                        <div class="item">
                            <i class="fa-solid fa-circle-check"></i>
                            <div class="content">
                                <h4 class="title-three">Transparent Funding Process</h4>
                                <p>Whether you prefer one-time donations or ongoing support, our platform offers.</p>
                            </div>
                        </div>
                    
                        <div class="item">
                            <i class="fa-solid fa-circle-check"></i>
                            <div class="content">
                                <h4 class="title-three">Flexible Contribution Options</h4>
                                <p>Our platform prioritizes transparency, providing clear insights into how funds are used.</p>
                            </div>
                        </div>
                    
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="why-choose-us__thumb">
                    <img class="img-1 animate-y-axis" src="assets/images/why-choose/why-choose.png" alt="image">
                    <div class="popup-vide-wrap">
                        <div class="video-main">
                            <div class="promo-video">
                                <div class="waves-block">
                                    <div class="waves wave-1"></div>
                                    <div class="waves wave-2"></div>
                                    <div class="waves wave-3"></div>
                                </div> 
                            </div>
                            <a class="play-video popup_video" data-fancybox="" href="https://vimeo.com/767046013">
                                <span class="play-btn"> <i class="fa fa-play"></i></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="counter-wrapper bg-img" style="background-image: url(assets/images/counter/counter-bg.png);">
            <div class="row gy-4 justify-content-center">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="counter">
                        <div class="counter__icon">
                            <h3><span class="odometer" data-count="80">00</span><span class="letter">+</span></h3>
                        </div>
                        <div class="counter__content">
                            <h3 class="title">Campaigns</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="counter">
                        <div class="counter__icon">
                            <h3><span class="odometer" data-count="250">00</span><span class="letter">+</span></h3>
                        </div>
                        <div class="counter__content">
                            <h3 class="title">Volunteer</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="counter">
                        <div class="counter__icon">
                            <h3><span class="odometer" data-count="15">00</span><span class="letter">+</span></h3>
                        </div>
                        <div class="counter__content">
                            <h3 class="title">Countries</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="counter">
                        <div class="counter__icon">
                            <h3><span class="odometer" data-count="50">00</span><span class="letter">+</span></h3>
                        </div>
                        <div class="counter__content">
                            <h3 class="title">Award</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==================== Why Choose us End Here ==================== -->