/*====================== Service Category ====================*/
.service-area {
    .single-service {
        width: 100%;
    }
    .msm-deivce-center {
        @include msm-screen {
            text-align: center;
        }
    }
    &__title {
        font-size: 24px;
        font-weight: 600;
    }
    &__btn {
        font-size: 16px;
        color: hsl(var(--base));
    }
}

.single-service {
    &:hover {
        .title {
            color: hsl(var(--base));
        }
    }
    &__img {
        overflow: hidden;
        border-radius: 4px;
        position: relative;
        .price-start {
            position: absolute;
            background: hsl(var(--white));
            padding: 6px 9px;
            font-weight: 500;
            border-radius: 4px;
            bottom: 13px;
            left: 13px;
            outline: 4px solid hsl(var(--white)/.2);
        }
        img {
            width: 100%;
            transition: .3s;
        }
    }
    &:hover img{
        transform: scale(1.1);
    }
    &__content {
        margin-top: 20px;
        .title {
            transition: .3s all;
            @include lg-screen {
                font-size: 16px;
                line-height: 24px;
            }
        }
    }
}

/*====================== Services Area ====================*/

.service-category-menu {
    background: hsl(var(--white));
    padding: 30px 25px;
    border-radius: 8px;
    border: 1px solid hsl(var(--black)/0.07);
    position: sticky;
    top: 100px;
    height: 626px;
    overflow: auto;
    .menu-title {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    ul li a {
        margin-bottom: 20px;
        text-transform: capitalize;
        color: hsl(var(--black)/.7);
        transition: .3s;
        &:hover {
            margin-left: 5px;
            color: hsl(var(--base)/.8);
        }
    }
}